{% extends "../../partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

      <p class="govuk-body">Try again later.</p>

      <p class="govuk-body">
        We've saved your application in draft.
      </p>
     <h2 class="govuk-heading-m">Get help with your application </h2>
      <p class="govuk-body">
       For installation, removal or changes to an electronic monitoring device taking place over the next 2 days, email <a href="mailto:EMNotifications@ems.co.uk">EMNotifications@ems.co.uk</a>
      </p>
       <p class="govuk-body">
       If you work for the Home Office email <a href="mailto:hoieorders@ems.co.uk">hoieorders@ems.co.uk</a>.
      </p>
       <p class="govuk-body">
       We aim to respond within 1 working day.
      </p>
    </div>
  </div>
{% endblock %}
