{% extends "./layout.njk" %}

{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: orderSummaryUri
  }) }}

  {% if not isOrderEditable %}
      {% set html %}
      <p class="govuk-notification-banner__heading">
        You are viewing a submitted order.
      </p>
      {% endset %}

      {{ govukNotificationBanner({
      html: html
    }) }}
  {% endif %}

  {{ mojPageHeaderActions({
    heading: {
        text: "Check your answers"
    }
  }) }}

  <h2 class="govuk-heading-l">{{ section }}</h2>

  {% block answers %}
  {% endblock %}

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        name: "action",
        value: "continue"
      })}}

      {{ govukButton({
        text: "Save and return back to form section menu",
        classes: "govuk-button--secondary",
        name: "action",
        value: "back"
      }) }}
    </div>
  </form>

{% endblock %}