{% extends "./layout.njk" %}

{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "app-container govuk-body" %}
{% set pageTitle = section + " - Check your answers - " + applicationName %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: orderSummaryUri
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if not isOrderEditable %}
	{% set submittedDate = submittedDate %}
        {% set html %}
          <p class="govuk-notification-banner__heading">
            {% if orderStatus === 'ERROR' %}
              This form failed to submit. This was due to a technical problem. For more information <a href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/index.html">view the guidance (opens in a new tab)</a> .
            {% else %}
              You are viewing a submitted form. This form was submitted on the {{ submittedDate }}.
            {% endif %}           
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
	{% if not isOrderEditable %}
	    {% set caption = "View answers" %}
	{% else %}
	    {% set caption = "Check your answers" %}
	{% endif %}
        <span class="govuk-caption-l">{{ section }}</span>
	{{ caption }}
      </h1>

      {% block answers %}
      {% endblock %}

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
	{% if not isOrderEditable %}
	    {% set continueButton = "Go to next section" %}
	    {% set secondaryButton = "Return to main form menu" %}
	{% else %}
	    {% set continueButton = "Save and go to next section" %}
	    {% set secondaryButton = "Save as draft" %}
	{% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: continueButton,
            name: "action",
            value: "continue"
          })}}

          {{ govukButton({
            text: secondaryButton,
            classes: "govuk-button--secondary",
            name: "action",
            value: "back"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
