{% extends "./layout.njk" %}

{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "app-container govuk-body" %}
{% set pageTitle = section + " - Check your answers - " + applicationName %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: orderSummaryUri
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if not isOrderEditable %}
        {% set html %}
          <p class="govuk-notification-banner__heading">
            You are viewing a submitted order.
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ section }}</span>
        Check your answers
      </h1>

      {% block answers %}
      {% endblock %}

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and go to next section",
            name: "action",
            value: "continue"
          })}}

          {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary",
            name: "action",
            value: "back"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}