{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
     <div class="govuk-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: '<a class="govuk-link" href="https://forms.office.com/e/khDZBF1tCS">give your feedback</a>.'
      }) }}   
          </div> 
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}