{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
     <div class="govuk-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: "Beta"
        },
        html: '<a class="govuk-link" href="https://forms.office.com/Pages/DesignPageV2.aspx?subpage=design&token=f12c24d63f1a4ec0938d46f1e7ce5cd0&id=KEeHxuZx_kGp4S6MNndq2Pc7FlOdpUVPgGL69_jGrwZURFBaMlIxSU02VTVXQlZXMVc1UDhVWFlEOS4u&topview=Preview" target="_blank" >Report a problem (opens in new tab)</a> or <a class="govuk-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=KEeHxuZx_kGp4S6MNndq2MKbViRqOcdKh99RkWhlTDVUNDNXR05JQUE3U0cwOEJUSTg4M1REUkg5SS4u">give your feedback</a>.'
      }) }}   
          </div> 
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}