{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "./timeSpanInput.njk" import timeSpanInput %}

{% set days = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %}

{% macro timeTableDay(day, index, data, disabled, removable,addressViews) %}
  <div class="schedule">
    
    {{ timeSpanInput({
      id: "curfewTimetable-" + day + "-" + index + "-time",
      namePrefix: "curfewTimetable[" + day + "][" + index + "][time",
      nameSuffix: "]",
      value: data.timeSpan.value,
      errorMessage: data.timeSpan.error,
      disabled: disabled,
      removable: removable,
      day: day,
      index: index
    }) }}
   
    {{ govukCheckboxes({
      idPrefix: "curfewTimetable-" + day + "-" + index + "-addresses",
      name: "curfewTimetable[" + day + "][" + index + "][addresses][]",
      values: data.addresses.values,
      items: [
       {
          value: "PRIMARY_ADDRESS",
          text: "Main address (not provided)" if not addressViews.primaryAddressView else "Main address - "+addressViews.primaryAddressView,
          disabled:  disabled or not addressViews.primaryAddressView
        },
        {
          value: "SECONDARY_ADDRESS",
          text: "Second address (not provided)" if not addressViews.secondaryAddressView else "Second address - "+addressViews.secondaryAddressView,
          disabled:  disabled or not addressViews.secondaryAddressView
        },
        {
          value: "TERTIARY_ADDRESS",
          text: "Third address (not provided)" if not addressViews.tertiaryAddressView else "Third address - "+addressViews.tertiaryAddressView,
          disabled:  disabled or not addressViews.tertiaryAddressView
        }
      ],
      errorMessage: data.addresses.error
    }) }}
  </div>
{% endmacro %}

{% macro timeTable(data,addressViews, disabled) %}
  {% for day in days %}
    {% set dayData = data[day] %}
    {% call govukFieldset({
      legend: {
        text: day | title,
        classes: "govuk-fieldset__legend--s timetable timetable-{{index}}",
        isPageHeading: true
      }
    }) %}
     
      {% if dayData | length === 0 %}
        {{ timeTableDay(day, 0, {}, disabled,false, addressViews) }}
      {% else %}
        {% for timetable in dayData %}
          {{ timeTableDay(day, loop.index0, timetable, disabled, dayData.length !== 1,addressViews ) }}
        {% endfor %}
      {% endif %}

      {% if not disabled %}
        {{ govukButton({
          text: "Add another time",
          classes: "govuk-button--secondary",
          name: "action",
          value: "add-time-" + day
        }) }}

        {% if day == "monday" %}
          {{ govukButton({
            text: "Auto populate the other days with the same curfew hours",
            classes: "govuk-button--secondary",
            name: "action",
            value: "copy-times"
          }) }}
        {% endif %}
      {% endif %}
    {% endcall %}
  {% endfor %}
{% endmacro %}
