{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set section = content.pages.alcohol.section %}
{% set heading = content.pages.alcohol.title %}
{% set legend = content.pages.alcohol.legend %}
{% set helpText = content.pages.alcohol.helpText %}

{% block formInputs %}

  {{ govukRadios({
    name: "monitoringType",
    fieldset: {
        legend: {
        text: "What type of alcohol monitoring is needed?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
        }
    },
    hint: {
        text: "Select one option"
    },
    items: [
      {
        value: "ALCOHOL_LEVEL",
        text: "Alcohol level",
        disabled: not isOrderEditable
      },
      {
        value: "ALCOHOL_ABSTINENCE",
        text: "Alcohol abstinence",
        disabled: not isOrderEditable
      }
    ],
    value: monitoringType.value,
    errorMessage: monitoringType.error
  }) }}

  {% set disabled = {} if isOrderEditable else { disabled:true } %}

  {{ govukDateInput({
    id: "startDate",
    namePrefix: "startDate",
    fieldset: {
      legend: {
        text: "Enter the date for when monitoring starts.",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 21 05 2011"
    },
    items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: startDate.value.day,
        attributes: disabled
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: startDate.value.month,
        attributes: disabled
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: startDate.value.year,
        attributes: disabled
      }
    ],
    errorMessage: startDate.error
  }) }}

  {{ govukDateInput({
    id: "endDate",
    namePrefix: "endDate",
    fieldset: {
      legend: {
        text: "Enter the date for when monitoring ends.",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 21 05 2011"
    },
    items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: endDate.value.day,
        attributes: disabled
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: endDate.value.month,
        attributes: disabled
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: endDate.value.year,
        attributes: disabled
      }
    ],
    errorMessage: endDate.error
  }) }}

  {% set probationHtml %}
    {{ govukInput({
      id: "probationOfficeName",
      name: "probationOfficeName",
      type: "text",
      classes: "govuk-!-width-one-third",
      label: {
        text: "Enter probation office name"
      },
      disabled: not isOrderEditable,
      value: probationOfficeName.value,
      errorMessage: probationOfficeName.error
    }) }}
  {% endset -%}

  {% set prisonHtml %}
    {{ govukInput({
      id: "prisonName",
      name: "prisonName",
      type: "text",
      classes: "govuk-!-width-one-third",
      label: {
        text: "Enter prison name"
      },
      disabled: not isOrderEditable,
      value: prisonName.value,
      errorMessage: prisonName.error
    }) }}
  {% endset -%}

  {{ govukRadios({
    name: "installationLocation",
    fieldset: {
      legend: {
        text: "Where will alcohol monitoring equipment installation take place?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "INSTALLATION",
        text: "at Installation Address (not provided)" if not installationAddressView.value else "at Installation Address: "+installationAddressView.value,
        disabled: not isOrderEditable or not installationAddressView.value
      },
      {
        value: "PRIMARY",
        text: "at Primary Address (not provided)" if not primaryAddressView.value else "at Primary Address: "+primaryAddressView.value,
        disabled: not isOrderEditable or not primaryAddressView.value
      },
      {
        value: "SECONDARY",
        text: "at Secondary Address (not provided)" if not secondaryAddressView.value else "at Secondary Address: "+secondaryAddressView.value,
        disabled: not isOrderEditable or not secondaryAddressView.value
      },
      {
        value: "TERTIARY",
        text: "at Tertiary Address (not provided)" if not tertiaryAddressView.value else "at Tertiary Address: "+tertiaryAddressView.value,
        disabled: not isOrderEditable or not tertiaryAddressView.value
      },
      {
        value: "PROBATION_OFFICE",
        text: "at the probation office",
        disabled: not isOrderEditable,
        conditional: {
          html: probationHtml
        }
      },
      {
        value: "PRISON",
        text: "at prison",
        disabled: not isOrderEditable,
        conditional: {
          html: prisonHtml
        }
      }
    ],
    value: installationLocation.value,
    errorMessage: installationLocation.error
  }) }}

{% endblock %}
