<h2 class="govuk-heading-m">Monitoring details</h2>
  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: monitoringConditions
  }) }}

  <h2 class="govuk-heading-m">Installation address</h2>
  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: installationAddress
  }) }}

  {% if curfew | length > 0 %}

  <h2 class="govuk-heading-m">Curfew on day of release</h2>
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: curfewReleaseDate
    }) }}

  <h2 class="govuk-heading-m">Curfew</h2>
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: curfew
    }) }}

    <h2 class="govuk-heading-m">Curfew Timetable</h2>
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: curfewTimetable
    }) }}

  {% endif %}

  {% if exclusionZone | length > 0 %}
    <h2 class="govuk-heading-m">Exclusion zone monitoring</h2>
  {% endif %}

   {% for item in exclusionZone %}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Exclusion zone monitoring"
        }
      },
      rows: item
    }) }}
  {% endfor %}

  {% if trail | length > 0 %}

    <h2 class="govuk-heading-m">Trail monitoring</h2>
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: trail
    }) }}

  {% endif %}
  
  {% if attendance | length > 0 %}
    <h2 class="govuk-heading-m">Mandatory attendance monitoring</h2>
  {% endif %}

  {% for item in attendance %}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Attendance monitoring"
        }
      },
      rows: item
    }) }}
  {% endfor %}
  

  {% if alcohol | length > 0 %}

    <h2 class="govuk-heading-m">Alcohol monitoring</h2>
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: alcohol
    }) }}

  {% endif %}