{% extends "../../../partials/form-layout.njk" %}

{% set pageTitle = "Monitoring conditions - Attendance monitoring - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set section = "Monitoring conditions" %}
{% set subsection = "Attendance monitoring" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "../../../partials/timeInput.njk" import timeInput %}
{% from "../../../partials/addressInput.njk" import addressInput %}

{% block formInputs %}

  {% set disabled = {} if isOrderEditable else { disabled:true } %}

  {{ govukDateInput({
    id: "startDate",
    namePrefix: "startDate",
    fieldset: {
      legend: {
        text: "What is the date the mandatory attendance monitoring starts?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 21 05 2011"
    },
    items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: startDateDay.value,
        attributes: disabled
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: startDateMonth.value,
        attributes: disabled
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: startDateYear.value,
        attributes: disabled
      }
    ],
    errorMessage: startDate.error
  }) }}

  {{ govukDateInput({
    id: "endDate",
    namePrefix: "endDate",
    fieldset: {
      legend: {
        text: "What is the date the mandatory attendance monitoring ends? (optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 21 05 2011"
    },
    items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: endDateDay.value,
        attributes: disabled
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: endDateMonth.value,
        attributes: disabled
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: endDateYear.value,
        attributes: disabled
      }
    ],
    errorMessage: endDate.error
  }) }}

  <h2 class="govuk-heading-m">Appointment details</h2>

  {{ govukInput({
      label: {
        text: "What is the appointment for?",
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example, education or medical appointment"
      },
      classes: "govuk-!-width-one-half",
      id: "purpose",
      name: "purpose",
      value: purpose.value,
      errorMessage: purpose.error,
      disabled: not isOrderEditable
    }) }}

  {{ govukInput({
      label: {
        text: "On what day or days is the appointment?",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-one-half",
      id: "appointmentDay",
      name: "appointmentDay",
      value: appointmentDay.value,
      errorMessage: appointmentDay.error,
      disabled: not isOrderEditable
    }) }}

  {{ timeInput({
      label: "What time does the appointment start",
      hint: "For example 09:45 or 15:30 (24 hours)",
      id: "startTime",
      name: "startTime",
      value: startTime.value,
      errorMessage: startTime.error,
      disabled: not isOrderEditable
    }) }}

  {{ timeInput({
      label: "What time does the appointment end?",
      hint: "For example 09:45 or 15:30 (24 hours)",
      id: "endTime",
      name: "endTime",
      value: endTime.value,
      errorMessage: endTime.error,
      disabled: not isOrderEditable
    }) }}

  {{ addressInput({
      label: "What is the address where the appointment will take place?",
      id: "address",
      name: "address",
      value: address.value,
      errorMessage: address.error,
      disabled: not isOrderEditable
    }) }}

  {% if isOrderEditable %}
    {{ govukRadios({
      name: "addAnother",
      classes: "govuk-radios--inline",
      fieldset: {
        legend: {
          text: "Are there any other appointments the device wearer needs to attend?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "true",
          text: "Yes",
          disabled: not isOrderEditable
        },
        {
          value: "false",
          text: "No",
          disabled: not isOrderEditable
        }
      ],
      value: addAnother.value,
      errorMessage: addAnother.error,
      disabled: not isOrderEditable
    }) }}
  {% endif %}

{% endblock %}
