{% extends "../../../partials/check-your-answers-layout.njk" %}

{% set section = "Electronic monitoring required" %}
{% set mainClasses = "app-container govuk-body" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block answers %}
    {% include "./answers.njk" %} 
{% endblock %}
