{% extends "../../../partials/check-your-answers-layout.njk" %}

{% set pageTitle = "Monitoring conditions - Check your answers - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block answers %}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Monitoring conditions"
      }
    },
    rows: monitoringConditions
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Installation address"
      }
    },
    rows: installationAddress
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Curfew monitoring conditions"
      }
    },
    rows: curfew
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Curfew timetable"
      }
    },
    rows: curfewTimetable
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Exclusion zone conditions"
      }
    },
    rows: exclusionZone
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Trail monitoring conditions"
      }
    },
    rows: trail
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Attendance monitoring conditions"
      }
    },
    rows: attendance
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Alcohol monitoring conditions"
      }
    },
    rows: alcohol
  }) }}

{% endblock %}
