{% extends "../../../partials/form-layout.njk" %}

{% set pageTitle = "Monitoring conditions - Curfew conditions - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set section = "Monitoring conditions" %}
{% set subsection = "Curfew with electronic monitoring" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block formInputs %}

  {% set disabled = {} if isOrderEditable else { disabled:true } %}

  {{ govukDateInput({
    id: "startDate",
    namePrefix: "startDate",
    fieldset: {
      legend: {
        text: "Enter the date for when monitoring starts",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 21 05 2011"
    },
    items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: startDate.value.day,
        attributes: disabled
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: startDate.value.month,
        attributes: disabled
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: startDate.value.year,
        attributes: disabled
      }
    ],
    errorMessage: startDate.error
  }) }}

  {{ govukDateInput({
    id: "endDate",
    namePrefix: "endDate",
    fieldset: {
      legend: {
        text: "Enter the date for when monitoring ends. (optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 21 05 2011"
    },
    items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: endDate.value.day,
        attributes: disabled
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: endDate.value.month,
        attributes: disabled
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: endDate.value.year,
        attributes: disabled
      }
    ],
    errorMessage: endDate.error
  }) }}

  {% call govukFieldset({
    legend: {
      text: "Curfew addresses",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ govukCheckboxes({
      name: "addresses",
      fieldset: {
        legend: {
          text: "What address or addresses will the device wearer use during curfew hours?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          text: 'Primary address',
          value: 'PRIMARY',
          disabled: not isOrderEditable
        },
        {
          text: 'Secondary address',
          value: 'SECONDARY',
          disabled: not isOrderEditable
        },
        {
          text: 'Tertiary address',
          value: 'TERTIARY',
          disabled: not isOrderEditable
        }
      ],
      errorMessage: addresses.error,
      values: addresses.values
    }) }}
  {% endcall %}

{% endblock %}
