{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Form Details" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: orderSummaryUri
  }) }}

  {% if not isOrderEditable %}
      {% set html %}
        <p class="govuk-notification-banner__heading">
          You are viewing a submitted order.
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}
  {% endif %}

  <div class="homepage-content">
    {{ mojPageHeaderActions({
      heading: {
          text: "Monitoring conditions"
      }
    }) }}
  </div>

  <h2 class="govuk-heading-m">Curfew with electronic monitoring</h2>

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% set disabled = {} if isOrderEditable else { disabled:true } %}

    {{ govukDateInput({
      id: "startDate",
      namePrefix: "startDate",
      fieldset: {
        legend: {
          text: "Enter the date for when monitoring starts",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 21 05 2011"
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: startDate.value.day,
          attributes: disabled
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: startDate.value.month,
          attributes: disabled
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: startDate.value.year,
          attributes: disabled
        }
      ],
      errorMessage: startDate.error
    }) }}

    {{ govukDateInput({
      id: "endDate",
      namePrefix: "endDate",
      fieldset: {
        legend: {
          text: "Enter the date for when monitoring ends. (optional)",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 21 05 2011"
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: endDate.value.day,
          attributes: disabled
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: endDate.value.month,
          attributes: disabled
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: endDate.value.year,
          attributes: disabled
        }
      ],
      errorMessage: endDate.error
    }) }}

    {{ govukCheckboxes({
      name: "addresses[]",
      fieldset: {
        legend: {
          text: "Curfew addresses ",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "What address or addresses will the device wearer use during curfew hours? Select all that apply."
      },
      items: [
        {
          text: 'Primary address',
          value: 'PRIMARY',
          disabled: not isOrderEditable
        },
        {
          text: 'Secondary address',
          value: 'SECONDARY',
          disabled: not isOrderEditable
        },
        {
          text: 'Third address',
          value: 'TERTIARY',
          disabled: not isOrderEditable
        }
      ],
      errorMessage: addresses.error,
      values: addresses.values
    }) }}

    <div class="govuk-button-group">
      {% if isOrderEditable %}
        {{ govukButton({
            text: "Save and continue",
            name: "action",
            value: "continue"
        }) }}
        {{ govukButton({
            text: "Save and return back to to form section menu",
            classes: "govuk-button--secondary",
            name: "action",
            value: "back"
        }) }}
      {% else %}
        <a id="backToSummary" class="govuk-link" href="{{ orderSummaryUri }}">Return back to to form section menu</a>
      {% endif %}
    </div>
  </form>

{% endblock %}
