{% extends "../../../partials/form-layout.njk" %}

{% set pageTitle = "Monitoring conditions - Curfew release date - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set section = "Monitoring conditions" %}
{% set subsection = "Curfew for day of release" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "../../../partials/timeSpanInput.njk" import timeSpanInput %}

{% block formInputs %}

  {% set disabled = {} if isOrderEditable else { disabled:true } %}

  {{ govukDateInput({
    id: "releaseDate",
    fieldset: {
      legend: {
        text: "Release date",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "Provide the date the device wearer will be released from custody. For example, 21 05 2011"
    },
    items: [
      {
        name: "releaseDateDay",
        classes: "govuk-input--width-2",
        label: "Day",
        id:"releaseDateDay",
        value: releaseDate.value.day,
        attributes: disabled
      },
      {
        name: "releaseDateMonth",
        classes: "govuk-input--width-2",
          label: "Month",
          id:"releaseDateMonth",
        value: releaseDate.value.month,
        attributes: disabled
      },
      {
        name: "releaseDateYear",
        classes: "govuk-input--width-4",
        label: "Year",
        id:"releaseDateYear",
        value: releaseDate.value.year,
        attributes: disabled
      }
    ],
    errorMessage: releaseDate.error
  }) }}



  {{ timeSpanInput({
      label: "Curfew hours on the day of release",
      hint: "Enter the start and end times of the curfew. For example 09:45 - 15:30 (24 hours)",
      id: "curfewTimes",
      namePrefix: "curfewTimes",
      value: curfewTimes.value,
      errorMessage: curfewTimes.error,
      disabled: not isOrderEditable
    }) }}

  {{ govukRadios({
      name: "address",
      fieldset: {
        legend: {
          text: "Curfew address on the day of release",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "What address will the device wearer be at during curfew hours on their day of release? Select one option"
      },
      items: [
        {
          value: "PRIMARY",
          text: "Primary address",
          disabled: not isOrderEditable
        },
        {
          value: "SECONDARY",
          text: "Secondary address",
          disabled: not isOrderEditable
        },
        {
          value: "TERTIARY",
          text: "Tertiary address",
          disabled: not isOrderEditable
        }
      ],
      value: curfewAddress.value,
      errorMessage: curfewAddress.error
    }) }}

{% endblock %}
