{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "../../../partials/timeSpanInput.njk" import timeSpanInput %}
{% from "../../../partials/timeInput.njk" import timeInput %}

{% set section = content.pages.curfewReleaseDate.section %}
{% set heading = content.pages.curfewReleaseDate.title %}
{% set legend = content.pages.curfewReleaseDate.legend %}
{% set helpText = content.pages.curfewReleaseDate.helpText %}
{% set questions = content.pages.curfewReleaseDate.questions %}
{% block formInputs %}

  {% set disabled = {} if isOrderEditable else { disabled:true } %}

  {{ govukDateInput({
    id: "releaseDate",
    fieldset: {
      legend: {
        text: questions.releaseDate.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: questions.releaseDate.hint
    },
    items: [
      {
        name: "releaseDateDay",
        classes: "govuk-input--width-2",
        label: "Day",
        id:"releaseDateDay",
        value: releaseDate.value.day,
        attributes: disabled
      },
      {
        name: "releaseDateMonth",
        classes: "govuk-input--width-2",
          label: "Month",
          id:"releaseDateMonth",
        value: releaseDate.value.month,
        attributes: disabled
      },
      {
        name: "releaseDateYear",
        classes: "govuk-input--width-4",
        label: "Year",
        id:"releaseDateYear",
        value: releaseDate.value.year,
        attributes: disabled
      }
    ],
    errorMessage: releaseDate.error
  }) }}

{{ timeInput({
      label: questions.startTime.text,
      hint: questions.startTime.hint,
      id: "curfewTimes-start",
      name: "curfewTimesStart",
      value: curfewStartTime.value,
      errorMessage: curfewStartTime.error,
      disabled: not isOrderEditable
    }) }}

  {{ timeInput({
      label: questions.endTime.text,
      hint: questions.endTime.hint,
      id: "curfewTimes-end",
      name: "curfewTimesEnd",
      value: curfewEndTime.value,
      errorMessage: curfewEndTime.error,
      disabled: not isOrderEditable
    }) }}

  {{ govukRadios({
      name: "address",
      fieldset: {
        legend: {
          text: "Curfew address on the day of release",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "What address will the device wearer be at during curfew hours on their day of release? Select one option"
      },
      items: [
        {
          value: "PRIMARY",
          text: "Main address (not provided)" if not primaryAddressView.value else "Main address - "+primaryAddressView.value,
          disabled: not isOrderEditable or not primaryAddressView.value
        },
        {
          value: "SECONDARY",
          text: "Second address (not provided)" if not secondaryAddressView.value else "Second address - "+secondaryAddressView.value,
          disabled: not isOrderEditable or not secondaryAddressView.value
        },
        {
          value: "TERTIARY",
          text: "Third address (not provided)" if not tertiaryAddressView.value else "Third address - "+tertiaryAddressView.value,
          disabled: not isOrderEditable or not tertiaryAddressView.value
        }
      ],
      value: curfewAddress.value,
      errorMessage: curfewAddress.error
    }) }}

{% endblock %}
