{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "../../../partials/timeTable.njk" import timeTable %}

{% set section = content.pages.curfewTimetable.section %}
{% set heading = content.pages.curfewTimetable.title %}
{% set legend = content.pages.curfewTimetable.legend %}
{% set helpText = content.pages.curfewTimetable.helpText %}

{% block formInputs %}
  {% call govukFieldset({
    legend: {
      text: content.pages.curfewTimetable.questions.timetable.text,
      classes: "govuk-fieldset__legend--s",
      isPageHeading: false
    }
  }) %}
    <span class="govuk-hint"> {{ content.pages.curfewTimetable.questions.timetable.hint }}</span>

    {{ timeTable(curfewTimetable,addressViews, not isOrderEditable) }}
  {% endcall %}
{% endblock %}
