{% extends "../../../partials/form-layout.njk" %}

{% set formEncoding = 'encType=multipart/form-data' %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set section = content.pages.exclusionZone.section %}
{% set heading = content.pages.exclusionZone.title %}
{% set legend = content.pages.exclusionZone.legend %}
{% set helpText = content.pages.exclusionZone.helpText %}
{% set questions = content.pages.exclusionZone.questions %}
{% block formInputs %}


  {% set attributes = { disabled: "disabled" } if not isOrderEditable else { } %}

  {{ govukDateInput({
    id: "startDate",
    fieldset: {
      legend: {
        text: questions.startDate.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: questions.startDate.hint
    },
    items: [
      {
        name: "startDay",
        classes: "govuk-input--width-2",
        label: "Day",
        value: startDate.value.day,
        attributes: attributes
      },
      {
        name: "startMonth",
        classes: "govuk-input--width-2",
        label: "Month",
        value: startDate.value.month,
        attributes: attributes
      },
      {
        name: "startYear",
        classes: "govuk-input--width-4",
        label: "Year",
        value: startDate.value.year,
        attributes: attributes
      }
    ],
    errorMessage: startDate.error
  }) }}

  {{ govukDateInput({
    id: "endDate",
    fieldset: {
      legend: {
        text: questions.endDate.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: questions.endDate.hint
    },
    items: [
      {
        name: "endDay",
        label: "Day",
        classes: "govuk-input--width-2",
        value: endDate.value.day,
        attributes: attributes
      },
      {
        name: "endMonth",
        label: "Month",
        classes: "govuk-input--width-2",
        value: endDate.value.month,
        attributes: attributes
      },
      {
        name: "endYear",
        label: "Year",
        classes: "govuk-input--width-4",
        value: endDate.value.year,
        attributes: attributes
      }
    ],
    errorMessage: endDate.error
  }) }}

  {% call govukFieldset({
    legend: {
      text: "Monitoring zone map (optional)",
      classes: "govuk-fieldset__legend--s",
      isPageHeading: false
    }
  }) %}
    {% set fileHintHTML %}
      <p class="govuk-hint">
        Upload a map to show us where the exclusion zone is.
      </p>

      <p class="govuk-hint">
        Use the <a href="https://mapmaker.field-dynamics.co.uk/moj/map/default">'map tool' </a>  to create a map or create your own.
      </p>

      <p class="govuk-hint">
        You can upload a PDF or JPEG under 10MB.
      </p>
    {% endset %}

    {{ govukFileUpload({
      id: "file",
      name: "file",
      label: {
        text: questions.file.text
      },
      hint: {
        html: fileHintHTML
      },
      errorMessage: file.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

  

  {{ govukTextarea({
    name: "description",
    id: "description",
    value: description.value,
    errorMessage: description.error,
    disabled: not isOrderEditable,
    label: {
      text: questions.description.text,
      classes: "govuk-label--s"
    },
    hint: {
      html: questions.description.hint
    }
  }) }}

  {{ govukTextarea({
    name: "duration",
    id: "duration",
    value: duration.value,
    errorMessage: duration.error,
    disabled: not isOrderEditable,
    label: {
      text: questions.duration.text,
      classes: "govuk-label--s"
    },
    hint: {
      text: questions.duration.hint
    }
  }) }}

  {% if isOrderEditable %}
    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "anotherZone",
      fieldset: {
        legend: {
          text: questions.anotherZone.text,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: questions.anotherZone.hint
      },
      items: [
        {
          value: "true",
          text: "Yes",
          disabled: not isOrderEditable
        },
        {
          value: "false",
          text: "No",
          disabled: not isOrderEditable
        }
      ],
      value: anotherZone.value,
      errorMessage: anotherZone.error
    }) }}
  {% endif %}

{% endblock %}
