{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../../../partials/timeInput.njk" import timeInput %}
{% from "../../../partials/dateTimeInput.njk" import dateTimeInput %}

{% set section = content.pages.monitoringConditions.section %}
{% set heading = content.pages.monitoringConditions.title %}
{% set legend = content.pages.monitoringConditions.legend %}
{% set helpText = content.pages.monitoringConditions.helpText %}
{% set questions = content.pages.monitoringConditions.questions %}
{% block formInputs %}

    {{dateTimeInput({
      id: "startDate",
      name: "startDate",
      date: startDate.value,
      dateLabel:  questions.startDate.text,
      dateHint: questions.startDate.hint,
      timeLabel: questions.startTime.text,
      timeHint: questions.startTime.hint,
      errorMessages: {
        field: startDate.error,
        date: errors.dateError,
        time: errors.timeError
      },
      disabled: not isOrderEditable
    })}}

    {{dateTimeInput({
      id: "endDate",
      name: "endDate",
      date: endDate.value,
      dateLabel:  questions.endDate.text,
      dateHint: questions.endDate.hint,
      timeLabel: questions.endTime.text,
      timeHint: questions.endTime.hint,
      errorMessages: {
        field: endDate.error,
        date: errors.dateError,
        time: errors.timeError
      },
      disabled: not isOrderEditable
    })}}

  {% call govukFieldset({
    legend: {
      text: "Order information",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ govukSelect({
      id: "orderType",
      name: "orderType",
      label: {
        text: questions.orderType.text,
        classes: "govuk-fieldset__legend--s"
      },
      items: [
        { text: 'Select', value: '' },
        { text: 'Civil', value: 'CIVIL' },
        { text: 'Community', value: 'COMMUNITY' },
        { text: 'Immigration', value: 'IMMIGRATION' },
        { text: 'Post Release', value: 'POST_RELEASE' },
        { text: 'Pre-Trial', value: 'PRE_TRIAL' },
        { text: 'Special', value: 'SPECIAL' }
      ],
      value: orderType.value,
      errorMessage: orderType.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukSelect({
      id: "orderTypeDescription",
      name: "orderTypeDescription",
      label: {
        text: questions.orderTypeDescription.text,
        classes: "govuk-fieldset__legend--s"
      },
      items: [
        { text: 'Select', value: '' },
        { text: 'DAPO', value: 'DAPO' },
        { text: 'DAPOL', value: 'DAPOL' },
        { text: 'DAPOL HDC', value: 'DAPOL_HDC' },
        { text: 'GPS Acquisitive Crime HDC', value: 'GPS_ACQUISITIVE_CRIME_HDC' },
        { text: 'GPS Acquisitive Crime Parole', value: 'GPS_ACQUISITIVE_CRIME_PAROLE' }
      ],
      value: orderTypeDescription.value,
      errorMessage: orderTypeDescription.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukRadios({
      classes: "govuk-radios",
      name: "conditionType",
      fieldset: {
        legend: {
          text: questions.conditionType.text,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "REQUIREMENT_OF_A_COMMUNITY_ORDER",
          text: "Requirement of a Community Order",
          hint: {
            text: "Monitoring conditions are part of a Community Order, a Suspended Sentence Order, or a Youth Rehabilitation Order."
          },
          disabled: not isOrderEditable
        },
        {
          value: "LICENSE_CONDITION_OF_A_CUSTODIAL_ORDER",
          text: "License Condition of a Custodial Order",
          hint: {
            text: "Device wearer is being released from prison before their sentence is complete. They are subject to specific licence conditions that include monitoring conditions."
          },
          disabled: not isOrderEditable
        },
        {
          value: "POST_SENTENCE_SUPERVISION_REQUIREMENT",
          text: "Post-Sentence Supervision Requirement following on from an Adult Custody order",
          hint: {
            text: "Device wearer licence period is complete. They are being released from a standard determinate custodial sentence of less than 2 years. They are subject to post-sentence supervision requirements that include monitoring conditions."
          },
          disabled: not isOrderEditable
        },
        {
          value: "BAIL_ORDER",
          text: "Bail Order",
          hint: {
            text: "Monitoring conditions are being imposed on the device wearer prior to trial."
          },
          disabled: not isOrderEditable
        }
      ],
      value: conditionType.value,
      errorMessage: conditionType.error
    }) }}

    {{ govukSelect({
      id: "sentenceType",
      name: "sentenceType",
      label: {
        text: questions.sentenceType.text,
        classes: "govuk-fieldset__legend--s"
      },
      items: sentenceTypes | toOptions(false, true),
      value: sentenceType.value,
      errorMessage: sentenceType.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukRadios({
      classes: "govuk-radios",
      name: "issp",
      fieldset: {
        legend: {
          text: questions.issp.text,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: questions.issp.hint
      },
      items: [
        {
          value: "YES",
          text: "Yes",
          disabled: not isOrderEditable
        },
        {
          value: "NO",
          text: "No",
          disabled: not isOrderEditable
        },
        {
          divider: "or"
        },
        {
          value: "UNKNOWN",
          text: "Not able to provide this information",
          disabled: not isOrderEditable
        }
      ],
      value: issp.value,
      errorMessage: issp.error
    }) }}

    {{ govukRadios({
      classes: "govuk-radios",
      name: "hdc",
      fieldset: {
        legend: {
          text: questions.hdc.text,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "YES",
          text: "Yes",
          disabled: not isOrderEditable
        },
        {
          value: "NO",
          text: "No",
          disabled: not isOrderEditable
        },
        {
          divider: "or"
        },
        {
          value: "UNKNOWN",
          text: "Not able to provide this information",
          disabled: not isOrderEditable
        }
      ],
      value: hdc.value,
      errorMessage: hdc.error
    }) }}

    {{ govukRadios({
      classes: "govuk-radios",
      name: "prarr",
      fieldset: {
        legend: {
          text: questions.prarr.text,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "YES",
          text: "Yes",
          disabled: not isOrderEditable
        },
        {
          value: "NO",
          text: "No",
          disabled: not isOrderEditable
        },
        {
          divider: "or"
        },
        {
          value: "UNKNOWN",
          text: "Not able to provide this information",
          disabled: not isOrderEditable
        }
      ],
      value: prarr.value,
      errorMessage: prarr.error
    }) }}

  {% endcall %}

  {% call govukFieldset({
    legend: {
      text: "Monitoring required",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ govukCheckboxes({
      name: "monitoringRequired",
      fieldset: {
        legend: {
          text: questions.monitoringRequired.text,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: questions.monitoringRequired.hint
      },
      items: [
        {
          value: "curfew",
          text: "Curfew",
          hint: {
            text: "Monitoring the device wearer adheres to set times and days that they must remain at a location."
          },
          checked: monitoringRequired.values | select("equalto", "curfew") | length,
          disabled: not isOrderEditable
        },
        {
          value: "exclusionZone",
          text: "Exclusion zone monitoring",
          hint: {
            text: "Prevents the device wearer entering areas or visiting locations at set times."
          },
          checked: monitoringRequired.values | select("equalto", "exclusionZone") | length,
          disabled: not isOrderEditable
        },
        {
          value: "trail",
          text: "Trail monitoring",
          hint: {
            text: "Recording and gathering data on movements of the device wearer throughout the day. Trail monitoring must be selected if the device wearer is part of the Acquisitive Crime Project."
          },
          checked: monitoringRequired.values | select("equalto", "trail") | length,
          disabled: not isOrderEditable
        },
        {
          value: "mandatoryAttendance",
          text: "Mandatory attendance monitoring",
          hint: {
            text: "Recording the device wearer's attendance at arranged meetings or places."
          },
          checked: monitoringRequired.values | select("equalto", "mandatoryAttendance") | length,
          disabled: not isOrderEditable
        },
        {
          value: "alcohol",
          text: "Alcohol monitoring",
          hint: {
            text: "This service does not yet offer Alcohol Monitoring as a monitoring requirement. If you need to create an order including an Alcohol Monitoring requirement, or a multiple monitoring requirement order (for example, Alcohol Monitoring and Curfew), continue to use your current process."
          },
          checked: monitoringRequired.values | select("equalto", "alcohol") | length,
          disabled: true
        }
      ],
      errorMessage: monitoringRequired.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

{% endblock %}
