{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Monitoring conditions - Trail monitoring - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: orderSummaryUri
  }) }}

  {% if not isOrderEditable %}
    {% set html %}
      <p class="govuk-notification-banner__heading">
        You are viewing a submitted order.
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html
    }) }}
  {% endif %}

  {{ mojPageHeaderActions({
    heading: {
        text: "Monitoring conditions"
    }
  }) }}
  <h2 class="govuk-heading-l">Trail monitoring</h2>

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% set disabled = {} if isOrderEditable else { disabled:true } %}

    {{ govukDateInput({
      id: "startDate",
      namePrefix: "startDate",
      fieldset: {
        legend: {
          text: "Enter the date for when monitoring starts.",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 21 05 2011"
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: startDateDay.value,
          attributes: disabled
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: startDateMonth.value,
          attributes: disabled
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: startDateYear.value,
          attributes: disabled
        }
      ],
      errorMessage: startDate.error
    }) }}

    {{ govukDateInput({
      id: "endDate",
      namePrefix: "endDate",
      fieldset: {
        legend: {
          text: "Enter the date for when monitoring ends. (optional)",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 21 05 2011"
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: endDateDay.value,
          attributes: disabled
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: endDateMonth.value,
          attributes: disabled
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: endDateYear.value,
          attributes: disabled
        }
      ],
      errorMessage: endDate.error
    }) }}

    <div class="govuk-button-group">
      {% if isOrderEditable %}
        {{ govukButton({
            text: "Save and continue",
            name: "action",
            value: "continue"
        }) }}

        {{ govukButton({
            text: "Save and return back to form section menu",
            classes: "govuk-button--secondary",
            name: "action",
            value: "back"
        }) }}
      {% else %}
        <a id="backToSummary" class="govuk-link" href="{{ orderSummaryUri }}">Return back to form section menu</a>
      {% endif %}
    </div>
  </form>

{% endblock %}
