{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set section = content.pages.trailMonitoring.section %}
{% set heading = content.pages.trailMonitoring.title %}
{% set legend = content.pages.trailMonitoring.legend %}
{% set helpText = content.pages.trailMonitoring.helpText %}

{% block formInputs %}

  {% set disabled = {} if isOrderEditable else { disabled:true } %}

  {{ govukDateInput({
    id: "startDate",
    namePrefix: "startDate",
    fieldset: {
      legend: {
        text: content.pages.trailMonitoring.questions.startDate.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: content.pages.trailMonitoring.questions.startDate.hint
    },
    items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: startDateDay.value,
        attributes: disabled
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: startDateMonth.value,
        attributes: disabled
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: startDateYear.value,
        attributes: disabled
      }
    ],
    errorMessage: startDate.error
  }) }}

  {{ govukDateInput({
    id: "endDate",
    namePrefix: "endDate",
    fieldset: {
      legend: {
        text: content.pages.trailMonitoring.questions.endDate.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: content.pages.trailMonitoring.questions.endDate.hint
    },
    items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: endDateDay.value,
        attributes: disabled
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: endDateMonth.value,
        attributes: disabled
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: endDateYear.value,
        attributes: disabled
      }
    ],
    errorMessage: endDate.error
  }) }}

{% endblock %}
