{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Device wearer details - Check your answers - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}

    {{ govukBackLink({
    text: "Back",
    href: orderSummaryUri
  }) }}

    {% if not isOrderEditable %}
        {% set html %}
        <p class="govuk-notification-banner__heading">
          You are viewing a submitted order.
        </p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html
      }) }}
    {% endif %}

    {% if disabilities %}
        {% set disabilitiesHtml %}
        <ul>
            {% for disability in disabilities %}
                <li>{{ disability }}</li>
            {% endfor %}
        </ul>
        {% endset %}
    {% endif %}

    {{ mojPageHeaderActions({
    heading: {
        text: "Check your answers"
    }
}) }}

    <h2 class="govuk-heading-l">About the device wearer</h2>

    <h3 class="govuk-heading-m">Device wearer</h2>

    {{ govukSummaryList({
    rows: [
        {
            key: {
                text: "First names"
            },
            value: {
                text: firstName
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "first names"
                }
                ]
            }
        },
        {
            key: {
                text: "Last name"
            },
            value: {
                text: lastName
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "last name"
                }
                ]
            }
        },
        {
            key: {
                text: "Preferred name or alias (optional)"
            },
            value: {
                text: alias
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "preferred name or alias"
                }
                ]
            }
        },
        {
            key: {
                text: "Date of birth"
            },
            value: {
                html: dateOfBirth_day+"/"+dateOfBirth_month+"/"+dateOfBirth_year
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                }
                ]
            }
        },
        {
            key: {
                text: "Will the device wearer be 18 years old when the device is installed?"
            },
            value: {
                text: adultAtTimeOfInstallation
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "adult at time of installation"
                }
                ]
            }
        },
        {
            key: {
                text: "Sex"
            },
            value: {
                text: sex
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "sex"
                }
                ]
            }
        },
        {
            key: {
                text: "Gender"
            },
            value: {
                text: gender
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "gender"
                }
                ]
            }
        },
        {
            key: {
                text: "Disabilities (optional)"
            },
            value: {
                html: disabilitiesHtml
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "disabilities"
                }
                ]
            }
        },
        {
            key: {
                text: "Disability, if other (optional)"
            },
            value: {
                text: otherDisability
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "disability if other"
                }
                ]
            }
        },
        {
            key: {
                text: "Main language"
            },
            value: {
                text: language
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "interpreter required"
                }
                ]
            }
        },
        {
            key: {
                text: "Is an interpreter required?"
            },
            value: {
                text: interpreterRequired
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "interpreter required"
                }
                ]
            }
        }
    ]
  }) }}

    <br>
    <h3 class="govuk-heading-m">Person identifiers</h3>

    {{ govukSummaryList({
    rows: [
      {
          key: {
              text: "NOMIS ID (optional)"
          },
          value: {
              text: nomisId
          },
          actions: {
              items: [
              {
                  href: aboutTheDeviceWearerUri,
                  text: "Change",
                  visuallyHiddenText: "NOMIS ID"
              }
              ]
          }
        },
        {
            key: {
                text: "PNC ID (optional)"
            },
            value: {
                text: pncId
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "PNC ID"
                }
                ]
            }
        },
        {
            key: {
                text: "DELIUS ID (optional)"
            },
            value: {
                text: deliusId
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "DELIUS ID"
                }
                ]
            }
        },
        {
            key: {
                text: "Prison number (optional)"
            },
            value: {
                text: prisonNumber
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "Prison number"
                }
                ]
            }
        },
        {
            key: {
                text: "Home Office reference number (optional)"
            },
            value: {
                text: homeOfficeReferenceNumber
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "Home Office reference number"
                }
                ]
            }
        }
    ]
  }) }}

    {% if displayResponsibleAdult %}
        <br>
        <h3 class="govuk-heading-m">Responsible adult</h3>

        {{ govukSummaryList({
    rows: [
      {
          key: {
              text: "Relationship"
          },
          value: {
              text: responsibleAdultRelationship
          },
          actions: {
              items: [
              {
                  href: deviceWearerResponsibleAdultUri,
                  text: "Change",
                  visuallyHiddenText: "Relationship"
              }
              ]
          }
        },
        {
            key: {
                text: "Relationship details, if other (optional)"
            },
            value: {
                text: responsibleAdultOtherRelationshipDetails
            },
            actions: {
                items: [
                {
                    href: deviceWearerResponsibleAdultUri,
                    text: "Change",
                    visuallyHiddenText: "Relationship details, if other"
                }
                ]
            }
        },
        {
            key: {
                text: "Full name"
            },
            value: {
                text: responsibleAdultFullName
            },
            actions: {
                items: [
                {
                    href: deviceWearerResponsibleAdultUri,
                    text: "Change",
                    visuallyHiddenText: "Full name"
                }
                ]
            }
        },
        {
            key: {
                text: "Contact number"
            },
            value: {
                text: responsibleAdultContactNumber
            },
            actions: {
                items: [
                {
                    href: deviceWearerResponsibleAdultUri,
                    text: "Change",
                    visuallyHiddenText: "Contact number"
                }
                ]
            }
        }
    ]
  }) }}

    {% endif %}

    <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "/order/" + orderId + "/contact-information/contact-details",
          classes: "govuk-button--warning"
        }) }}
        {{ govukButton({
        text: "Return back to form section menu",
        href: orderSummaryUri
      }) }}
    </div>

{% endblock %}