{% extends "../../../partials/check-your-answers-layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set section = "About the device wearer" %}

{% block answers %}

  <h2 class="govuk-heading-m">Personal details</h2>

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: deviceWearer
  }) }}

  <h2 class="govuk-heading-m">Identity numbers</h2>


  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: personIdentifiers
  }) }}

  {% if responsibleAdult | length > 0 %}

   <h2 class="govuk-heading-m">Responsible adult details</h2>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: responsibleAdult
    }) }}

  {% endif %}

{% endblock %}