{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Device wearer details - Check your answers - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: orderSummaryUri
  }) }}

  {% if not isOrderEditable %}
      {% set html %}
        <p class="govuk-notification-banner__heading">
          You are viewing a submitted order.
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}
  {% endif %}

{{ mojPageHeaderActions({
    heading: {
        text: "About the device wearer"
    }
}) }}

  <h2 class="govuk-heading-l">Check your answers</h2>

  <h3 class="govuk-heading-m">About the device wearer</h3>

  {{ govukSummaryList({
    rows: [
      {
          key: {
              text: "NOMIS ID"
          },
          value: {
              text: firstName.value
          },
          actions: {
              items: [
              {
                  href: aboutTheDeviceWearerUri,
                  text: "Change",
                  visuallyHiddenText: "name"
              }
              ]
          }
        },
        {
            key: {
                text: "PNC ID"
            },
            value: {
                text: pncId.value
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "name"
                }
                ]
            }
        },
        {
            key: {
                text: "DELIUS ID"
            },
            value: {
                text: deliusId.value
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "name"
                }
                ]
            }
        },
        {
            key: {
                text: "Prison number"
            },
            value: {
                text: prisonNumber.value
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "name"
                }
                ]
            }
        },
        {
            key: {
                text: "First name"
            },
            value: {
                text: firstName.value
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "name"
                }
                ]
            }
        },
        {
            key: {
                text: "Last name"
            },
            value: {
                text: lastName.value
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "name"
                }
                ]
            }
        },
        {
            key: {
                text: "Alias (optional)"
            },
            value: {
                text: alias.value
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "name"
                }
                ]
            }
        },
        {
            key: {
                text: "Date of birth"
            },
            value: {
                html: dateOfBirth_day.value+"/"+dateOfBirth_month.value+"/"+dateOfBirth_year.value
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "name"
                }
                ]
            }
        },
        {
            key: {
                text: "Will the device wearer be 18 years old when the device is installed?"
            },
            value: {
                text: adultAtTimeOfInstallation.value
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "name"
                }
                ]
            }
        },
        {
            key: {
                text: "Sex"
            },
            value: {
                text: sex.value
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "name"
                }
                ]
            }
        },
        {
            key: {
                text: "Gender"
            },
            value: {
                text: gender.value
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "name"
                }
                ]
            }
        },
        {
            key: {
                text: "Disabilities"
            },
            value: {
                text: disabilities.values
            },
            actions: {
                items: [
                {
                    href: aboutTheDeviceWearerUri,
                    text: "Change",
                    visuallyHiddenText: "name"
                }
                ]
            }
        }
    ]
  }) }}

  <div class="govuk-button-group">
    {% if isOrderEditable %}
      {{ govukButton({
        text: "Save and continue",
        href: orderSummaryUri
      }) }}
      {{ govukButton({
        text: "Return back to form section menu",
        href: orderSummaryUri
      }) }}
    {% else %}
      <a id="backToSummary" class="govuk-link" href="{{ orderSummaryUri }}">Return back to form section menu</a>
    {% endif %}
  </div>

{% endblock %}
