{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Form Details" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: orderSummaryUri
  }) }}

  {% if not isOrderEditable %}
      {% set html %}
        <p class="govuk-notification-banner__heading">
          You are viewing a submitted order.
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}
  {% endif %}

  <div class="homepage-content">
    {{ mojPageHeaderActions({
      heading: {
          text: "About the device wearer"
      }
    }) }}
  </div>

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukInput({
      label: {
        text: "NOMIS ID",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-two-thirds",
      id: "nomis-id",
      name: "nomisId",
      value: nomisId.value,
      errorMessage: nomisId.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "PNC ID",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-two-thirds",
      id: "pnc-id",
      name: "pncId",
      value: pncId.value,
      errorMessage: pncId.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "DELIUS ID",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-two-thirds",
      id: "delius-id",
      name: "deliusId",
      value: deliusId.value,
      errorMessage: deliusId.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "Prison Number",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-two-thirds",
      id: "prison-number",
      name: "prisonNumber",
      value: prisonNumber.value,
      errorMessage: prisonNumber.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "First name",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-two-thirds",
      id: "first-name",
      name: "firstName",
      value: firstName.value,
      errorMessage: firstName.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "Last name",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-two-thirds",
      id: "last-name",
      name: "lastName",
      value: lastName.value,
      errorMessage: lastName.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "Alias (optional)",
        classes: "govuk-label--s"
      },
      hint: {
          text: "For example a nickname or alias the device wearer is also known as"
      },
      classes: "govuk-!-width-two-thirds",
      id: "alias",
      name: "alias",
      value: alias.value,
      errorMessage: alias.error,
      disabled: not isOrderEditable
    }) }}

    {% set disabled = {} if isOrderEditable else { disabled:true } %}

    {{ govukDateInput({
      id: "dateOfBirth",
      namePrefix: "dateOfBirth",
      fieldset: {
        legend: {
          text: "Date of birth",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 21 05 2011"
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: dateOfBirth_day.value,
          attributes: disabled
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: dateOfBirth_month.value,
          attributes: disabled
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: dateOfBirth_year.value,
          attributes: disabled
        }
      ],
      errorMessage: dateOfBirth.error
    }) }}

    {{ govukRadios({
      name: "adultAtTimeOfInstallation",
      classes: "govuk-radios--inline",
      fieldset: {
        legend: {
          text: "Will the device wearer be 18 years old when the device is installed?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "Select one option"
      },
      items: [
        {
          value: "true",
          text: "Yes",
          disabled: not isOrderEditable
        },
        {
          value: "false",
          text: "No",
          disabled: not isOrderEditable
        }
      ],
      value: adultAtTimeOfInstallation.value,
      errorMessage: adultAtTimeOfInstallation.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukRadios({
      name: "sex",
      fieldset: {
        legend: {
          text: "Sex",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "Select the device wearer's sex"
      },
      items: [
        {
          value: "male",
          text: "Male",
          disabled: not isOrderEditable
        },
        {
          value: "female",
          text: "Female",
          disabled: not isOrderEditable
        },
        {
          value: "prefer not to say",
          text: "Prefer not to say",
          disabled: not isOrderEditable
        },
        {
          value: "unknown",
          text: "Don't know",
          disabled: not isOrderEditable
        }
      ],
      value: sex.value,
      errorMessage: sex.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukRadios({
      name: "gender",
      fieldset: {
        legend: {
          text: "Gender identity",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "Select the device wearer's gender"
      },
      items: [
        {
          value: "male",
          text: "Male",
          disabled: not isOrderEditable
        },
        {
          value: "female",
          text: "Female",
          disabled: not isOrderEditable
        },
        {
          value: "non-binary",
          text: "Non-binary",
          disabled: not isOrderEditable
        },
        {
          value: "unknown",
          text: "Don't know",
          disabled: not isOrderEditable
        },
        {
          value: "self-identify",
          text: "Self identify",
          disabled: not isOrderEditable
        }
      ],
      value: gender.value,
      errorMessage: gender.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukCheckboxes({
      name: "disabilities",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Disabilities",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Does the device wearer have any disabilities"
      },
      items: [
        {
          value: "Vision",
          text: "Vision"
        },
        {
          value: "Hearing",
          text: "Hearing"
        },
        {
          value: "Mobility",
          text: "Mobility"
        },
        {
          value: "Dexterity",
          text: "Dexterity"
        },
        {
          value: "Learning, understanding or concentrating",
          text: "Learning, understanding or concentrating"
        },
        {
          value: "Memory",
          text: "Memory"
        },
        {
          value: "Mental health",
          text: "Mental health"
        },
        {
          value: "Stamina or breathing or fatigue",
          text: "Stamina or breathing or fatigue"
        },
        {
          value: "Socially or behaviorally",
          text: "Socially or behaviorally"
        },
        {
          value: "Other",
          text: "Other"
        },
        {
          value: "None of the above",
          text: "None of the above"
        },
        {
          value: "Prefer Not to Say",
          text: "Prefer Not to Say"
        }
      ],
      values: disabilities.values,
      errorMessage: disabilities.error,
      disabled: not isOrderEditable
    }) }}

    <div class="govuk-button-group">
      {% if isOrderEditable %}
        {{ govukButton({
            text: "Save and continue",
            name: "action",
            value: "continue"
        }) }}
        {{ govukButton({
            text: "Save and return back to to form section menu",
            classes: "govuk-button--secondary",
            name: "action",
            value: "back"
        }) }}
      {% else %}
        <a id="backToSummary" class="govuk-link" href="{{ orderSummaryUri }}">Return back to to form section menu</a>
      {% endif %}
    </div>
  </form>

{% endblock %}
