{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set section = content.pages.deviceWearer.section %}
{% set heading = content.pages.deviceWearer.title %}
{% set legend = content.pages.deviceWearer.legend %}
{% set helpText = content.pages.deviceWearer.helpText %}

{% block formInputs %}

  {% call govukFieldset({
    legend: {
      text: "Name of the device wearer",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ govukInput({
      label: {
        text: "First names"
      },
      classes: "govuk-input--width-10",
      id: "firstName",
      name: "firstName",
      value: firstName.value,
      errorMessage: firstName.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "Last name"
      },
      classes: "govuk-input--width-10",
      id: "lastName",
      name: "lastName",
      value: lastName.value,
      errorMessage: lastName.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "Preferred name or alias (optional)"
      },
      hint: {
          text: "For example a nickname or alias the device wearer is also known as"
      },
      classes: "govuk-input--width-10",
      id: "alias",
      name: "alias",
      value: alias.value,
      errorMessage: alias.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

  {% set isDisabled = {} if isOrderEditable else { disabled: true } %}

  {{ govukDateInput({
    id: "dateOfBirth",
    fieldset: {
      legend: {
        text: "Date of birth",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "For example, 21 05 2011"
    },
    items: [
      {
        id: "dateOfBirth-day",
        name: "dateOfBirth[day]",
        label: "Day",
        classes: "govuk-input--width-2",
        value: dateOfBirth.value.day,
        attributes: isDisabled
      },
      {
        id: "dateOfBirth-month",
        name: "dateOfBirth[month]",
        label: "Month",
        classes: "govuk-input--width-2",
        value: dateOfBirth.value.month,
        attributes: isDisabled
      },
      {
        id: "dateOfBirth-year",
        name: "dateOfBirth[year]",
        label: "Year",
        classes: "govuk-input--width-4",
        value: dateOfBirth.value.year,
        attributes: isDisabled
      }
    ],
    errorMessage: dateOfBirth.error
  }) }}

  {{ govukRadios({
    name: "adultAtTimeOfInstallation",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: "Will the device wearer be 18 years old when the device is installed?",
        isPageHeading: false
      }
    },
    items: [
      {
        value: "true",
        text: "Yes",
        disabled: not isOrderEditable
      },
      {
        value: "false",
        text: "No",
        disabled: not isOrderEditable
      }
    ],
    value: adultAtTimeOfInstallation.value,
    errorMessage: adultAtTimeOfInstallation.error,
    disabled: not isOrderEditable
  }) }}

  {{ govukRadios({
    name: "sex",
    fieldset: {
      legend: {
        text: "Sex",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "What sex was the devise wearer assigned at birth?"
    },
    items: [
      {
        value: "male",
        text: "Male",
        disabled: not isOrderEditable
      },
      {
        value: "female",
        text: "Female",
        disabled: not isOrderEditable
      },
      {
        value: "prefer not to say",
        text: "Prefer not to say",
        disabled: not isOrderEditable
      },
      {
        value: "unknown",
        text: "Don't know",
        disabled: not isOrderEditable
      }
    ],
    value: sex.value,
    errorMessage: sex.error,
    disabled: not isOrderEditable
  }) }}

  {% set otherGenderHtml %}
    {{
      govukInput({
      label: {
        text: "Other gender"
      },
      id: "otherGender",
      name: "otherGender",
      classes: "govuk-!-width-one-third",
      errorMessage: otherGender.error,
      disabled: not isOrderEditable,
      value: otherGender.value
      })
    }}
  {% endset %}

  {{ govukRadios({
    name: "gender",
    fieldset: {
      legend: {
        text: "Gender identity",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "How does the device wearer describe themselves?"
    },
    items: [
      {
        value: "male",
        text: "Male",
        disabled: not isOrderEditable
      },
      {
        value: "female",
        text: "Female",
        disabled: not isOrderEditable
      },
      {
        value: "non-binary",
        text: "Non binary",
        disabled: not isOrderEditable
      },
      {
        value: "unknown",
        text: "Don't know",
        disabled: not isOrderEditable
      },
      {
        value: "self-identify",
        text: "Self identify",
        conditional: {
          html: otherGenderHtml
        },
        disabled: not isOrderEditable
      }
    ],
    value: gender.value,
    errorMessage: gender.error,
    disabled: not isOrderEditable
  }) }}

  {% set otherDisabilityHtml %}
    {{
      govukInput({
      label: {
        text: "Other disability"
      },
      id: "otherDisability",
      name: "otherDisability",
      classes: "govuk-!-width-one-third",
      errorMessage: otherDisability.error,
      disabled: not isOrderEditable,
      value: otherDisability.value
      })
    }}
  {% endset %}

  {{ govukCheckboxes({
    name: "disabilities",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Disability (optional)",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Does the device wearer have any disabilities or accessibility needs?"
    },
    items: [
      {
        value: "VISION",
        text: "Vision"
      },
      {
        value: "HEARING",
        text: "Hearing"
      },
      {
        value: "MOBILITY",
        text: "Mobility"
      },
      {
        value: "DEXTERITY",
        text: "Dexterity"
      },
      {
        value: "LEARNING_UNDERSTANDING_CONCENTRATING",
        text: "Learning or understanding or concentrating"
      },
      {
        value: "MEMORY",
        text: "Memory"
      },
      {
        value: "MENTAL_HEALTH",
        text: "Mental health"
      },
      {
        value: "STAMINA_BREATHING_FATIGUE",
        text: "Stamina or breathing or fatigue"
      },
      {
        value: "SOCIAL_BEHAVIOURAL",
        text: "Socially or behaviorally"
      },
      {
        value: "OTHER",
        text: "Other",
        conditional: {
          html: otherDisabilityHtml
        }
      },
      {
        value: "NONE",
        text: "None of the above"
      },
      {
        value: "PREFER_NOT_TO_SAY",
        text: "Prefer Not to Say"
      }
    ],
    values: disabilities.values,
    errorMessage: disabilities.error,
    disabled: not isOrderEditable
  }) }}

  {% call govukFieldset({
    legend: {
      text: "Language",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ govukSelect({
      id: "language",
      name: "language",
      label: {
        text: "What is the device wearer's main language?"
      },
      items: [
        { text: 'Select', value: '' },
        { text: "British Sign", value: "British Sign" },
        { text: "Lipspeak (English)", value: "Lipspeak (English)" },
        { text: "Palantypists", value: "Palantypists" },
        { text: "Sign Supported English", value: "Sign Supported English" },
        { text: "Albanian", value: "Albanian" },
        { text: "Algerian", value: "Algerian" },
        { text: "Amharic", value: "Amharic" },
        { text: "Arabic", value: "Arabic" },
        { text: "Armenian (Eastern)", value: "Armenian (Eastern)" },
        { text: "Azerbaijani", value: "Azerbaijani" },
        { text: "Azeri", value: "Azeri" },
        { text: "Bambara", value: "Bambara" },
        { text: "Belarusian", value: "Belarusian" },
        { text: "Bengali", value: "Bengali" },
        { text: "Bilen", value: "Bilen" },
        { text: "Bosnian", value: "Bosnian" },
        { text: "Bravanese", value: "Bravanese" },
        { text: "Bulgarian", value: "Bulgarian" },
        { text: "Cantonese", value: "Cantonese" },
        { text: "Croatian", value: "Croatian" },
        { text: "Czech", value: "Czech" },
        { text: "Dari", value: "Dari" },
        { text: "Dioula", value: "Dioula" },
        { text: "Dutch", value: "Dutch" },
        { text: "Farsi", value: "Farsi" },
        { text: "Flemish (Dutch)", value: "Flemish (Dutch)" },
        { text: "French", value: "French" },
        { text: "Fula", value: "Fula" },
        { text: "Georgian", value: "Georgian" },
        { text: "German", value: "German" },
        { text: "Greek", value: "Greek" },
        { text: "Gujarati", value: "Gujarati" },
        { text: "Hebrew", value: "Hebrew" },
        { text: "Hindi", value: "Hindi" },
        { text: "Hindko", value: "Hindko" },
        { text: "Hungarian", value: "Hungarian" },
        { text: "Igbo", value: "Igbo" },
        { text: "Ilocano", value: "Ilocano" },
        { text: "Indonesian", value: "Indonesian" },
        { text: "Italian", value: "Italian" },
        { text: "Jamaican Patois", value: "Jamaican Patois" },
        { text: "Japanese", value: "Japanese" },
        { text: "Kibajuni", value: "Kibajuni" },
        { text: "Kikuyu", value: "Kikuyu" },
        { text: "Kinyarwanda", value: "Kinyarwanda" },
        { text: "Kirundi", value: "Kirundi" },
        { text: "Korean", value: "Korean" },
        { text: "Krio", value: "Krio" },
        { text: "Kurdish:Bahdini", value: "Kurdish:Bahdini" },
        { text: "Kurdish:Feyli", value: "Kurdish:Feyli" },
        { text: "Kurdish:Kurmanji", value: "Kurdish:Kurmanji" },
        { text: "Kurdish:Sorani", value: "Kurdish:Sorani" },
        { text: "Lao", value: "Lao" },
        { text: "Latvian", value: "Latvian" },
        { text: "Lingala", value: "Lingala" },
        { text: "Lithuanian", value: "Lithuanian" },
        { text: "Luganda", value: "Luganda" },
        { text: "Macedonian (Gorani)", value: "Macedonian (Gorani)" },
        { text: "Malayalam", value: "Malayalam" },
        { text: "Mandarin", value: "Mandarin" },
        { text: "Mandinka", value: "Mandinka" },
        { text: "Maninka", value: "Maninka" },
        { text: "Mauritian Creole", value: "Mauritian Creole" },
        { text: "Mende", value: "Mende" },
        { text: "Mirpuri", value: "Mirpuri" },
        { text: "Moldovan", value: "Moldovan" },
        { text: "Mongolian", value: "Mongolian" },
        { text: "Moroccan", value: "Moroccan" },
        { text: "Nepalese", value: "Nepalese" },
        { text: "Norwegian", value: "Norwegian" },
        { text: "Oromo", value: "Oromo" },
        { text: "Pahari", value: "Pahari" },
        { text: "Pangasinan", value: "Pangasinan" },
        { text: "Panjabi (Indian)", value: "Panjabi (Indian)" },
        { text: "Panjabi (Pakistani)", value: "Panjabi (Pakistani)" },
        { text: "Pashto", value: "Pashto" },
        { text: "Pidgin English (Nigerian)", value: "Pidgin English (Nigerian)" },
        { text: "Pidgin English (West African)", value: "Pidgin English (West African)" },
        { text: "Polish", value: "Polish" },
        { text: "Portuguese", value: "Portuguese" },
        { text: "Pothwari", value: "Pothwari" },
        { text: "Romani", value: "Romani" },
        { text: "Romanian", value: "Romanian" },
        { text: "Russian", value: "Russian" },
        { text: "Serbian", value: "Serbian" },
        { text: "Shona", value: "Shona" },
        { text: "Sinhalese", value: "Sinhalese" },
        { text: "Slovak", value: "Slovak" },
        { text: "Somali", value: "Somali" },
        { text: "Spanish", value: "Spanish" },
        { text: "Sudanese Arabic", value: "Sudanese Arabic" },
        { text: "Susu", value: "Susu" },
        { text: "Swahili", value: "Swahili" },
        { text: "Swedish", value: "Swedish" },
        { text: "Sylheti", value: "Sylheti" },
        { text: "Tagalog", value: "Tagalog" },
        { text: "Tamil", value: "Tamil" },
        { text: "Telugu", value: "Telugu" },
        { text: "Temne", value: "Temne" },
        { text: "Thai", value: "Thai" },
        { text: "Tigrinya", value: "Tigrinya" },
        { text: "Turkish", value: "Turkish" },
        { text: "Twi", value: "Twi" },
        { text: "Ukrainian", value: "Ukrainian" },
        { text: "Urdu", value: "Urdu" },
        { text: "Vietnamese", value: "Vietnamese" },
        { text: "Wolof", value: "Wolof" },
        { text: "Yoruba", value: "Yoruba" },
        { text: "Zaghawa", value: "Zaghawa" }
      ],
      value: language.value,
      errorMessage: language.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukRadios({
      name: "interpreterRequired",
      classes: "govuk-radios--inline",
      fieldset:{
        legend: {
          text: "Is an interpreter needed?"
        }
      },
      items: [
        {
          value: "true",
          text: "Yes",
          disabled: not isOrderEditable
        },
        {
          value: "false",
          text: "No",
          disabled: not isOrderEditable
        }
      ],
      value: interpreterRequired.value,
      errorMessage: interpreterRequired.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

{% endblock %}
