{% extends "../../../partials/form-layout.njk" %}

{% set pageTitle = "Device wearer details - Identity numbers - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set section = "Identity numbers" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block formInputs %}

  {{ govukInput({
    label: {
    text: "National Offender Management Information System (NOMIS) ID (optional)"
    },
    classes: "govuk-input--width-10",
    id: "nomisId",
    name: "nomisId",
    value: nomisId.value,
    errorMessage: nomisId.error,
    disabled: not isOrderEditable
  }) }}

  {{ govukInput({
    label: {
    text: "Police National Computer (PNC) ID (optional)"
    },
    classes: "govuk-input--width-10",
    id: "pncId",
    name: "pncId",
    value: pncId.value,
    errorMessage: pncId.error,
    disabled: not isOrderEditable
  }) }}

  {{ govukInput({
    label: {
    text: "Delius ID (optional)"
    },
    classes: "govuk-input--width-10",
    id: "deliusId",
    name: "deliusId",
    value: deliusId.value,
    errorMessage: deliusId.error,
    disabled: not isOrderEditable
  }) }}

  {{ govukInput({
    label: {
    text: "Prison Number (Optional)"
    },
    classes: "govuk-input--width-10",
    id: "prisonNumber",
    name: "prisonNumber",
    value: prisonNumber.value,
    errorMessage: prisonNumber.error,
    disabled: not isOrderEditable
  }) }}

  {{ govukInput({
    label: {
    text: "Home Office Reference Number (Optional)"
    },
    classes: "govuk-input--width-10",
    id: "homeOfficeReferenceNumber",
    name: "homeOfficeReferenceNumber",
    value: homeOfficeReferenceNumber.value,
    errorMessage: homeOfficeReferenceNumber.error,
    disabled: not isOrderEditable
  }) }}

{% endblock %}
