{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% set section = content.pages.identityNumbers.section %}
{% set heading = content.pages.identityNumbers.title %}
{% set legend = content.pages.identityNumbers.legend %}
{% set helpText = content.pages.identityNumbers.helpText %}

{% block formInputs %}

  {{ govukInput({
    label: {
      text: content.pages.identityNumbers.questions.nomisId.text,
      classes: "govuk-fieldset__legend--s"

    },
    classes: "govuk-input--width-10",
    id: "nomisId",
    name: "nomisId",
    value: nomisId.value,
    errorMessage: nomisId.error,
    disabled: not isOrderEditable
  }) }}

  {{ govukInput({
    label: {
      text: content.pages.identityNumbers.questions.pncId.text,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "pncId",
    name: "pncId",
    value: pncId.value,
    errorMessage: pncId.error,
    disabled: not isOrderEditable
  }) }}

  {{ govukInput({
    label: {
      text: content.pages.identityNumbers.questions.deliusId.text,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "deliusId",
    name: "deliusId",
    value: deliusId.value,
    errorMessage: deliusId.error,
    disabled: not isOrderEditable
  }) }}

  {{ govukInput({
    label: {
      text: content.pages.identityNumbers.questions.prisonNumber.text,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "prisonNumber",
    name: "prisonNumber",
    value: prisonNumber.value,
    errorMessage: prisonNumber.error,
    disabled: not isOrderEditable
  }) }}

  {{ govukInput({
    label: {
      text: content.pages.identityNumbers.questions.homeOfficeReferenceNumber.text,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "homeOfficeReferenceNumber",
    name: "homeOfficeReferenceNumber",
    value: homeOfficeReferenceNumber.value,
    errorMessage: homeOfficeReferenceNumber.error,
    disabled: not isOrderEditable
  }) }}

{% endblock %}
