{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set section = content.pages.responsibleAdult.section %}
{% set heading = content.pages.responsibleAdult.title %}
{% set legend = content.pages.responsibleAdult.legend %}
{% set helpText = content.pages.responsibleAdult.helpText %}

{% block formInputs %}

 

    {% set otherRelationshipDetailsHtml %}
      {{
        govukInput({
          label: {
            text: content.pages.responsibleAdult.questions.otherRelationship.text
          },
          id: "otherRelationshipDetails",
          name: "otherRelationshipDetails",
          classes: "govuk-!-width-one-third",
          errorMessage: otherRelationshipDetails.error,
          disabled: not isOrderEditable,
          value: otherRelationshipDetails.value
        })
      }}
    {% endset %}

    {{ govukRadios({
      name: "relationship",
      fieldset: {
        legend: {
          text: content.pages.responsibleAdult.questions.relationship.text,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "parent",
          text: "Parent",
          disabled: not isOrderEditable
        },
        {
          value: "guardian",
          text: "Guardian",
          disabled: not isOrderEditable
        },
        {
          value: "other",
          text: "Other",
          disabled: not isOrderEditable,
          conditional: {
            html: otherRelationshipDetailsHtml
          }
        }
      ],
      value: relationship.value,
      errorMessage: relationship.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: content.pages.responsibleAdult.questions.fullName.text,
          classes: "govuk-fieldset__legend--s"
      },     
      classes: "govuk-input--width-20",
      id: "fullName",
      name: "fullName",
      autocomplete: "name",
      value: fullName.value,
      errorMessage: fullName.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: content.pages.responsibleAdult.questions.contactNumber.text,
        classes: "govuk-label--s"
      },     
      classes: "govuk-input--width-10",
      id: "contactNumber",
      name: "contactNumber",
      type: "tel",
      autocomplete: "tel tel-national",
      value: contactNumber.value,
      errorMessage: contactNumber.error,
      disabled: not isOrderEditable
    }) }}


{% endblock %}
