{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Form Details" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}


{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: orderSummaryUri
  }) }}

  {% if not isOrderEditable %}
      {% set html %}
        <p class="govuk-notification-banner__heading">
          You are viewing a submitted order.
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}
  {% endif %}

  <div class="homepage-content">
    {{ mojPageHeaderActions({
      heading: {
          text: "About the device wearer"
      }
    }) }}
  </div>

  <form action="{{ formActionUri }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% call govukFieldset({
      legend: {
        text: "Responsible officer / responsible organisation details",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: false
      }
    }) %}

      {{ govukInput({
        label: {
          text: "Responsible officer name"
          
        },
        classes: "govuk-!-width-two-thirds",
        id: "full-name",
        name: "fullName",
        autocomplete: "name",
        value: fullName.value,
        errorMessage: fullName.error,
        disabled: not isOrderEditable
      }) }}

      {{ govukInput({
        label: {
          text: "Responsible officer contact number"
          
        },
        classes: "govuk-!-width-two-thirds",
        id: "contact-number",
        name: "contactNumber",
        autocomplete: "tel tel-national",
        value: contactNumber.value,
        errorMessage: contactNumber.error,
        disabled: not isOrderEditable
      }) }}

      {{ govukRadios({
        name: "gender",
        fieldset: {
          legend: {
            text: "Gender identity",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "Responsible officer organisation"
        },
        items: [
          {
            value: "YJS",
            text: "YJS",
            disabled: not isOrderEditable
          },
          {
            value: "YCS",
            text: "YCS",
            disabled: not isOrderEditable
          },
          {
            value: "probation",
            text: "Probation",
            disabled: not isOrderEditable
          },
          {
            value: "field-monitoring-service",
            text: "Field monitoring service",
            disabled: not isOrderEditable
          },
          {
            value: "home-office",
            text: "Home Office",
            disabled: not isOrderEditable
          },
          {
            value: "police",
            text: "Police",
            disabled: not isOrderEditable
          }
        ],
        value: organisation.value,
        errorMessage: organisation.error,
        disabled: not isOrderEditable
      }) }}

      {{ govukSelect({
        id: "region",
        name: "region",
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Responsible organisation details - region"
        },
        items: [],
        value: region.value,
        errorMessage: region.error,
        disabled: not isOrderEditable
      }) }}

      {{ govukInput({
        label: {
          text: "Responsible organisation address"
        },
        hint: {
          text: "Enter a post code"
        },
        classes: "govuk-input--width-10",
        id: "address-postcode",
        name: "addressPostcode",
        value: "Not a postcode",
        value: addressPostcode.value,
        errorMessage: addressPostcode.error,
        disabled: not isOrderEditable,
        autocomplete: "postal-code"
      }) }}

      {{ govukInput({
        label: {
          text: "Responsible organisation contact number"
        },
        classes: "govuk-!-width-two-thirds",
        id: "organisation-contact-number",
        name: "organisationContactNumber",
        autocomplete: "tel tel-national",
        value: organisationContactNumber.value,
        errorMessage: organisationContactNumber.error,
        disabled: not isOrderEditable
      }) }}

      {{ govukInput({
        label: {
          text: "Responsible organisation email address"
        },
        classes: "govuk-!-width-two-thirds",
        id: "organisation-email",
        name: "organisationEmail",
        autocomplete: "email",
        value: organisationEmail.value,
        errorMessage: organisationEmail.error,
        disabled: not isOrderEditable
      }) }}

    {% endcall %}

    <div class="govuk-button-group">
      {% if isOrderEditable %}
        {{ govukButton({
            text: "Save and continue",
            name: "action",
            value: "continue"
        }) }}
        {{ govukButton({
            text: "Save and return back to to form section menu",
            classes: "govuk-button--secondary",
            name: "action",
            value: "back"
        }) }}
      {% else %}
        <a id="backToSummary" class="govuk-link" href="{{ orderSummaryUri }}">Return back to to form section menu</a>
      {% endif %}
    </div>
  </form>

{% endblock %}
