{% extends "../../../partials/form-layout.njk" %}

{% set pageTitle = "Device wearer details - Responsible adult - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set section = "About the device wearer" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block formInputs %}

  {% call govukFieldset({
    legend: {
      text: "Responsible Adult",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          A device wearer who is under 18 requires a responsible adult. This is
          someone who will attend installation.
        </p>
        <p class="govuk-body">
          Provide details of the device wearer's responsible adult.
        </p>
      </div>
    </div>

    {% set otherRelationshipDetailsHtml %}
      {{
        govukInput({
          label: {
            text: "Relationship to device wearer"
          },
          id: "otherRelationshipDetails",
          name: "otherRelationshipDetails",
          classes: "govuk-!-width-one-third",
          errorMessage: otherRelationshipDetails.error,
          disabled: not isOrderEditable,
          value: otherRelationshipDetails.value
        })
      }}
    {% endset %}

    {{ govukRadios({
      name: "relationship",
      fieldset: {
        legend: {
          text: "What is the relationship to the device wearer?"
        }
      },
      items: [
        {
          value: "parent",
          text: "Parent",
          disabled: not isOrderEditable
        },
        {
          value: "guardian",
          text: "Guardian",
          disabled: not isOrderEditable
        },
        {
          value: "other",
          text: "Other",
          disabled: not isOrderEditable,
          conditional: {
            html: otherRelationshipDetailsHtml
          }
        }
      ],
      value: relationship.value,
      errorMessage: relationship.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "Full name of responsible adult",
        classes: "govuk-label--s"
      },
      hint: {
        text: "Provide first name and last name"
      },
      classes: "govuk-input--width-20",
      id: "fullName",
      name: "fullName",
      autocomplete: "name",
      value: fullName.value,
      errorMessage: fullName.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "Telephone number for responsible adult (optional)",
        classes: "govuk-label--s"
      },
      hint: {
        text: "Provide either a landline or mobile number"
      },
      classes: "govuk-input--width-10",
      id: "contactNumber",
      name: "contactNumber",
      type: "tel",
      autocomplete: "tel tel-national",
      value: contactNumber.value,
      errorMessage: contactNumber.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

{% endblock %}
