{% extends "../../../partials/form-layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set section = content.pages.contactDetails.section %}
{% set heading = content.pages.contactDetails.title %}
{% set legend = content.pages.contactDetails.legend %}
{% set helpText = content.pages.contactDetails.helpText %}

{% block formInputs %}

  {{ govukInput({
    label: {
      classes: "govuk-label--s",
      text: content.pages.contactDetails.questions.contactNumber.text
    },
    hint: {
      text: content.pages.contactDetails.questions.contactNumber.hint
    },
    classes: "govuk-!-width-two-thirds",
    id: "contactNumber",
    name: "contactNumber",
    type: "tel",
    value: contactNumber.value,
    errorMessage: contactNumber.error,
    disabled: not isOrderEditable
  }) }}

{% endblock %}
