{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../../../components/accessible-autocomplete/macro.njk" import accessibleAutocomplete %}

{% set section = content.pages.interestedParties.section %}
{% set heading = content.pages.interestedParties.title %}
{% set legend = content.pages.interestedParties.legend %}
{% set helpText = content.pages.interestedParties.helpText %}

{% set crownCourtHtml %}

  {{ accessibleAutocomplete({
    id: 'crownCourt',
    name: 'crownCourt',
    label: content.pages.interestedParties.questions.crownCourt.text,
    options: crownCourts,
    value: notifyingOrganisationName.value,
    errorMessage: notifyingOrganisationName.error,
    nonce: cspNonce
  }) }}

{% endset %}

{% set magistrateCourtHtml %}

  {{ accessibleAutocomplete({
    id: 'magistratesCourt',
    name: 'magistratesCourt',
    label: content.pages.interestedParties.questions.magistratesCourt.text,
    options: magistratesCourts,
    value: notifyingOrganisationName.value,
    errorMessage: notifyingOrganisationName.error,
    nonce: cspNonce
  }) }}

{% endset %}

{% set prisonHtml %}

  {{ accessibleAutocomplete({
    id: 'prison',
    name: 'prison',
    label: content.pages.interestedParties.questions.prison.text,
    hint: content.pages.interestedParties.questions.prison.hint,
    options: prisons,
    value: notifyingOrganisationName.value,
    errorMessage: notifyingOrganisationName.error,
    nonce: cspNonce
  }) }}

{% endset %}

{% set probationRegionHtml %}

  {{ govukSelect({
    id: "probationRegion",
    name: "probationRegion",
    label: {
      text: content.pages.interestedParties.questions.probationRegion.text
    },
    items: probationRegions,
    value: responsibleOrganisationRegion.value,
    errorMessage: responsibleOrganisationRegion.error,
    disabled: not isOrderEditable
  }) }}

{% endset %}

{% set yjsRegionHtml %}

  {{ govukSelect({
    id: "yjsRegion",
    name: "yjsRegion",
    label: {
      text: content.pages.interestedParties.questions.yjsRegion.text
    },
    items: yjsRegions,
    value: responsibleOrganisationRegion.value,
    errorMessage: responsibleOrganisationRegion.error,
    disabled: not isOrderEditable
  }) }}

{% endset %}

{% set notifyingOrgOptions = [] %}
{% for org in notifyingOrganisations | toOptions(not isOrderEditable) %}
  {% if org.value == 'PRISON' %}
    {% set notifyingOrgOptions = (notifyingOrgOptions.push({
      value: org.value,
      text: org.text,
      conditional: {
        html: prisonHtml
      },
      disabled: org.disabled
    }), notifyingOrgOptions) %}
  {% elif org.value == 'CROWN_COURT' %}
    {% set notifyingOrgOptions = (notifyingOrgOptions.push({
      value: org.value,
      text: org.text,
      conditional: {
        html: crownCourtHtml
      },
      disabled: org.disabled
    }), notifyingOrgOptions) %}
  {% elif org.value == 'MAGISTRATES_COURT' %}
    {% set notifyingOrgOptions = (notifyingOrgOptions.push({
      value: org.value,
      text: org.text,
      conditional: {
        html: magistrateCourtHtml
      },
      disabled: org.disabled
    }), notifyingOrgOptions) %}
  {% else %}
    {% set notifyingOrgOptions = (notifyingOrgOptions.push(org), notifyingOrgOptions) %}
  {% endif %}
{% endfor %}

{% set responsibleOrgOptions = [] %}
{% for org in responsibleOrganisations | toOptions(not isOrderEditable) %}
  {% if org.value == 'PROBATION' %}
    {% set responsibleOrgOptions = (responsibleOrgOptions.push({
      value: org.value,
      text: org.text,
      conditional: {
        html: probationRegionHtml
      },
      disabled: org.disabled
    }), responsibleOrgOptions) %}
  {% elif org.value == 'YJS' %}
    {% set responsibleOrgOptions = (responsibleOrgOptions.push({
      value: org.value,
      text: org.text,
      conditional: {
        html: yjsRegionHtml
      },
      disabled: org.disabled
    }), responsibleOrgOptions) %}
  {% else %}
    {% set responsibleOrgOptions = (responsibleOrgOptions.push(org), responsibleOrgOptions) %}
  {% endif %}
{% endfor %}

{% block formInputs %}

  {% call govukFieldset({
    legend: {
      text: "Notifying organisation",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}

    {{ govukRadios({
      name: "notifyingOrganisation",
      fieldset: {
        legend: {
          text: content.pages.interestedParties.questions.notifyingOrganisation.text,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: notifyingOrgOptions,
      value: notifyingOrganisation.value,
      errorMessage: notifyingOrganisation.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: content.pages.interestedParties.questions.notifyingOrganisationEmail.text,
        classes: "govuk-label--s"
      },
      hint: {
        html: content.pages.interestedParties.questions.notifyingOrganisationEmail.hint
      },
      classes: "govuk-!-width-one-half",
      id: "notifyingOrganisationEmail",
      name: "notifyingOrganisationEmail",
      value: notifyingOrganisationEmail.value,
      errorMessage: notifyingOrganisationEmail.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

  {% call govukFieldset({
    legend: {
      text: "Responsible Officer",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    <p>
      The Responsible Officer checks the device wearer follows the electronic monitoring order. For example, a Responsible Officer is the device wearer's probation officer.
    </p>
    {{ govukInput({
      label: {
        text: content.pages.interestedParties.questions.responsibleOfficerName.text,
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-one-half",
      id: "responsibleOfficerName",
      name: "responsibleOfficerName",
      value: responsibleOfficerName.value,
      errorMessage: responsibleOfficerName.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: content.pages.interestedParties.questions.responsibleOfficerPhoneNumber.text,
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-one-half",
      id: "responsibleOfficerPhoneNumber",
      name: "responsibleOfficerPhoneNumber",
      type: "tel",
      value: responsibleOfficerPhoneNumber.value,
      errorMessage: responsibleOfficerPhoneNumber.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

  {% call govukFieldset({
    legend: {
      text: "Responsible Organisation",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    <p>
      {{content.pages.interestedParties.questions.responsibleOrganisation.hint}}
    </p>
    {{ govukRadios({
      name: "responsibleOrganisation",
      fieldset: {
        legend: {
          text: content.pages.interestedParties.questions.responsibleOrganisation.text,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      value: responsibleOrganisation.value,
      errorMessage: responsibleOrganisation.error,
      items: responsibleOrgOptions
    }) }}
   

    {{ govukInput({
      label: {
        text: content.pages.interestedParties.questions.responsibleOrganisationEmail.text,       
        classes: "govuk-label--s"
      },
      hint: {
        html: content.pages.interestedParties.questions.responsibleOrganisationEmail.hint
      },
      classes: "govuk-!-width-one-half",
      id: "responsibleOrganisationEmail",
      name: "responsibleOrganisationEmail",      
      value: responsibleOrganisationEmail.value,
      errorMessage: responsibleOrganisationEmail.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}


{% endblock %}
