{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set section = content.pages.noFixedAbode.section %}
{% set heading = content.pages.noFixedAbode.title %}
{% set legend = content.pages.noFixedAbode.legend %}
{% set helpText = content.pages.noFixedAbode.helpText %}

{% block formInputs %}

 {{ govukRadios({
    name: "noFixedAbode",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: content.pages.noFixedAbode.questions.noFixedAbode.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
        text: content.pages.noFixedAbode.questions.noFixedAbode.hint
    },
    items: [
      {
        value: "false",
        text: "Yes",
        disabled: not isOrderEditable
      },
      {
        value: "true",
        text: "No",
        disabled: not isOrderEditable
      }
    ],
    value: noFixedAbode.value,
    errorMessage: noFixedAbode.error,
    disabled: not isOrderEditable
  }) }}

{% endblock %}
