{% extends "../../../partials/form-layout.njk" %}

{% set pageTitle = "Contact information - Fixed address - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set section = "Contact information" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block formInputs %}

  {% call govukFieldset({
    legend: {
      text: "Primary address",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ govukRadios({
      name: "noFixedAbode",
      classes: "govuk-radios--inline",
      fieldset: {
        legend: {
          text: "Does the device wearer have a fixed address?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
          text: "For example, the device wearer has a tenancy or permanent address they are registered at.",
          classes: "govuk-!-width-two-thirds"
      },
      items: [
        {
          value: "false",
          text: "Yes, they have a fixed address",
          disabled: not isOrderEditable
        },
        {
          value: "true",
          text: "No, they have no fixed address",
          disabled: not isOrderEditable
        }
      ],
      value: noFixedAbode,
      errorMessage: errors.noFixedAbode,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

{% endblock %}
