{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Form Details" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/order/" + contactDetails.orderId + "/summary"
}) }}

<div class="homepage-content">
  {{ mojPageHeaderActions({
    heading: {
        text: "Contact details"
    }
  }) }}
</div>

<p>Coming soon...</p>



{% endblock %}
