{% extends "../../../partials/form-layout.njk" %}

{% set pageTitle = applicationName + " - Form Details" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% if (fileType) == "licence" %}

  {% set pageContent = content.pages.uploadLicense %}

{% else %}

  {% set pageContent = content.pages.uploadPhotoId %}

{% endif %}

{% set section = pageContent.section %}
{% set heading = pageContent.title %}
{% set legend = pageContent.legend %}
{% set helpText = pageContent.helpText %}
{% set formEncoding = 'encType=multipart/form-data' %}

{% block formInputs %}

  {{ govukFileUpload({
    id: "file-to-upload",
    name: "file",
    label: {
      text: pageContent.questions.file.text
    },
    hint: {
      text: pageContent.questions.file.hint
    },
    errorMessage:error
  }) }}

{% endblock %}
