{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Form Details" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/order/" + order.id + "/summary"
}) }}

<div class="homepage-content">
  {{ mojPageHeaderActions({
  heading: {
    text: "Are you sure you want to delete this order?"
  }
}) }}

</div>

<form action="/order/{{ order.id }}/delete" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <div class="govuk-button-group">
      {{ govukButton({
          text: "Back",
          classes: "govuk-button--secondary",
          href: "/order/" + order.id + "/summary"
      }) }}

      {{ govukButton({
          text: "Delete",
          classes: "govuk-button--warning"
      }) }}
  </div>
</form>

{% endblock %}
