{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Application successfully deleted - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  {{ govukPanel({
    titleText: "Application form successfully deleted"
  }) }}

    {{ govukButton({    
      text: "Back to start",
      href: "/",
      id: "back-button"
    }) }}
<p  class="govuk-body"><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=KEeHxuZx_kGp4S6MNndq2MKbViRqOcdKh99RkWhlTDVUNDNXR05JQUE3U0cwOEJUSTg4M1REUkg5SS4u">What did you think of this service? (takes 30 seconds)</a></p>

{% endblock %}
