{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Form Details" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}

{{ govukPanel({
  titleText: "Application submission failed",
  html: "Your reference number<br><strong>EXAMPLE</strong>",
  classes: "govuk-panel--error"
}) }}

<div class="govuk-button-group">
    {{ govukButton({
        text: "Back to your applications",
        href: "/"
    }) }}
</div>

{% endblock %}
