{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Application summary - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set formDownloadIcon = '/assets/images/form_download.svg' %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block content %}

  {{ govukBackLink({
  text: "Back",
  href: "/"
}) }}

  {{ mojPageHeaderActions({
    heading: {
      text: "Tag request form"
    }
  }) }}

  <h2 class="govuk-heading-l">Form sections</h2>

<p class="govuk-body-l">
    Complete all sections before submitting the form.
  </p>

{% set taskListItems = [] %}
{% for section, tasks in sections %}
  {% set task = tasks[0] %}
  {% set name = section | replace("_", " ") | capitalize %}
  {% set href = task.path %}
  {% set complete = task.status != 'INCOMPLETE' %}

  {% if task.required %}
    {% set taskListItems = (taskListItems.push({
        idPrefix: "order-section",
        title: { text: name },
        href: href,
        status: {
          tag: {
            text: "Completed" if complete === true else "Incomplete",
            classes: "govuk-tag--green" if complete === true else "govuk-tag--grey"
          }
        }
      }), taskListItems) %}
  {% endif %}
{% endfor %}
{{ govukTaskList({ idPrefix: "sections", items: taskListItems }) }}

{#
  {% for section, tasks in sections %}
    <h3 class="govuk-heading-m">{{ section | replace("_", " ") | capitalize }}</h3>

    {% set taskListItems = [] %}
    {% for task in tasks %}
      {% set name = task.name | replace("_", " ") | capitalize %}
      {% set href = task.path %}
      {% set complete = task.status != 'INCOMPLETE' %}

      {% if task.required %}
        {% set taskListItems = (taskListItems.push({
          idPrefix: "order-section",
          title: { text: name },
          href: href,
          status: {
            tag: {
              text: "Completed" if complete === true else "Incomplete",
              classes: "govuk-tag--green" if complete === true else "govuk-tag--grey"
            }
          }
        }), taskListItems) %}
      {% endif %}
    {% endfor %}
    {{ govukTaskList({ idPrefix: "sections", items: taskListItems }) }}
  {% endfor %}
#}

{% if order.status == "IN_PROGRESS" %}
  <form action="/order/{{ order.id }}/submit" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <div class="govuk-button-group">
      {{ govukButton({
            text: "Submit order"
        }) }}
    </div>
  </form>
{% else %}
  <img src="{{ formDownloadIcon }}" alt="Icon of a form">
  {{ govukButton({
          text: "Get tag request form summary for download",
          href: "/order/" + orderId + "/receipt",
          classes: "govuk-button--secondary"
      }) }}

  <div class="govuk-button-group">
    <a id="backToSearch" class="govuk-link" href="/">Return to order search view</a>
  </div>
{% endif %}
{% endblock %}
