{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Application summary - " + applicationName %}
{% set error = error %}
{% set mainClasses = "app-container govuk-body" %}
{% set formDownloadIcon = '/assets/images/form_download.svg' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
  {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}

  {% set heading = 'Electronic Monitoring application form for ' + order.deviceWearer.firstName + ' ' + order.deviceWearer.lastName if order.status === 'SUBMITTED' else "Electronic Monitoring application form" %}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  <h1 class="govuk-heading-l">
    {{ heading }}
  </h1>
    
  {% if order.status === 'SUBMITTED' %}
    <p>
      You can make changes to this form or end all monitoring for the device wearer
    </p>
  {% endif %}

  {% if order.status === "ERROR" %}
    {% set insetHtml %}
      Your application form and attachments failed to submit. This was due to a technical problem. For more information <a class="govuk-link" href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/Help-when-something-goes-wrong.html#form-failed-to-submit" target="_blank">View the guidance (opens in a new tab)</a>
    {% endset %}
    {{ govukInsetText({
      html: insetHtml
    }) }}
  {% endif %}

  {% if error %}
    {{ govukErrorSummary({
      titleText: "The form could not be submitted",
      errorList: [
        {
          text: error,
          href: "#"
        }
      ]
    }) }}
  {% endif %}

  {% set items = [] %}
  {% for section in sections %}
    {% set name = section.name | replace("_", " ") | capitalize %}
    {% set href = section.path %}
    {% set status = 'COMPLETE' if section.completed else 
      'INCOMPLETE' %}
    {% set tagColour = 'govuk-tag--green' if section.completed else '' %}
    {% set statusArgs = { 
      tag: {
        text: status | capitalize,
        classes: tagColour
      } 
    } if isOrderEditable else {} %}
    {% set items = (items.push({
      idPrefix: "order-section",
      title: { text: name },
      href: href,
      status: statusArgs
    }), items) %}
  {% endfor %}

  {{ govukTaskList({ idPrefix: "sections", items: items }) }}

  {% if order.status == "IN_PROGRESS" %}
    <form action="/order/{{ order.id }}/submit" method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <div class="govuk-button-group">
        {{ govukButton({
            text: "Submit form",
            disabled: not order.isValid
        }) }}
        <a href="/order/{{ orderId }}/delete" class="govuk-link">Delete form</a>.
      </div>
    </form>
  {% else %}
    <img src="{{ formDownloadIcon }}" width="62px" height="85px" alt="Icon of a form">
    {{ govukButton({
      text: "View and download the completed application form",
      href: "/order/" + orderId + "/receipt",
      classes: "govuk-button--secondary"
    }) }}
  {% endif %}
{% endblock %}
