{% extends "../../../partials/form-layout.njk" %}

{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set section = content.pages.installationAndRisk.section %}
{% set heading = content.pages.installationAndRisk.title %}
{% set legend = content.pages.installationAndRisk.legend %}
{% set helpText = content.pages.installationAndRisk.helpText %}

{% block formInputs %}

  {{ govukSelect({
    id: "offence",
    name: "offence", 
     label: {
        text: content.pages.installationAndRisk.questions.offence.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }, 
    hint: {
      text: content.pages.installationAndRisk.questions.offence.hint
    },
    items: content.reference.offences | toOptions(false, true),
    value: offence.value,
    errorMessage: offence.error,
    disabled: not isOrderEditable
  }) }}
 
  {{ govukCheckboxes({
    idPrefix: "riskCategory",
    name: "riskCategory[]",
    fieldset: {
      legend: {
        text: content.pages.installationAndRisk.questions.riskCategory.text,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: content.pages.installationAndRisk.questions.riskCategory.hint
    },
    items: content.reference.riskCategories | toOptions(not isOrderEditable),
    errorMessage: riskCategory.error,
    values: riskCategory.values
  }) }}

  {{ govukTextarea({
    name: "riskDetails",
    id: "riskDetails",
    value: riskDetails.value,
    errorMessage: riskDetails.error,
    disabled: not isOrderEditable,
    label: {
      text: content.pages.installationAndRisk.questions.riskDetails.text,
      classes: "govuk-label--s"
    },
    hint: {
      text: content.pages.installationAndRisk.questions.riskDetails.hint
    }
  }) }}

  {% call govukFieldset({
    legend: {
      text: "Multi-Agency Public Protection Arrangements (MAPPA)",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    <p class="govuk-body">If you are a Home Office employee, answer the below questions:</p>

    {{ govukRadios({
      name: "mappaLevel",
      fieldset: {
        legend: {
          text: content.pages.installationAndRisk.questions.mappaLevel.text,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          text: "MAPPA 1",
          value: "MAPPA1",
          hint: {
            text: "Ordinary agency management, where the offender can be managed by the lead agency in consultation with other agencies involved."
          },
          disabled: not isOrderEditable
        },
        {
          text: "MAPPA 2",
          value: "MAPPA2",
          hint: {
            text: "For cases where active interagency management is required in order to manage the risk of serious harm posed."
          },
          disabled: not isOrderEditable
        },
        {
          text: "MAPPA 3",
          value: "MAPPA3",
          hint: {
            text: "For the most complex cases which require active interagency management by Senior Managers from the agencies involved."
          },
          disabled: not isOrderEditable
        }
      ],
      value: mappaLevel.value,
      errorMessage: mappaLevel.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukRadios({
      name: "mappaCaseType",
      fieldset: {
        legend: {
          text: content.pages.installationAndRisk.questions.mappaCaseType.text,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          text: "Serious Organised Crime",
          value: "SOC",
          disabled: not isOrderEditable
        },
        {
          text: "Terrorism Act, Counter Terrorism",
          value: "TERRORISM_ACT",
          disabled: not isOrderEditable
        },
        {
          text: "Terrorism Prevention and Investigation measures",
          value: "TERRORISM_PREVENTION",
          disabled: not isOrderEditable
        },
        {
          text: "Special Immigration Appeals Commission",
          value: "SPECIAL_IMMIGRATION_APPEALS",
          disabled: not isOrderEditable
        },
        {
          text: "High Profile Immigration",
          value: "HIGH_PROFILE_IMMIGRATION",
          disabled: not isOrderEditable
        },
        {
          text: "Critical Public Protection Case",
          value: "CPP_CASE",
          disabled: not isOrderEditable
        }
      ],
      value: mappaCaseType.value,
      errorMessage: mappaCaseType.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

{% endblock %}
