{% extends "../../../partials/form-layout.njk" %}

{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set section = content.pages.installationAndRisk.section %}
{% set heading = content.pages.installationAndRisk.title %}
{% set legend = content.pages.installationAndRisk.legend %}
{% set helpText = content.pages.installationAndRisk.helpText %}

{% block formInputs %}
  <p class="govuk-body">Provide risk information to help plan installation.</p>

  <p class="govuk-body">Answer questions based on what you know about the device wearer's previous behaviour and offence.</p>


 
  {{ govukSelect({
    id: "offence",
    name: "offence", 
     label: {
        text: "Select the offence committed by the device wearer(optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }, 
    hint: {
      text: "Select one"
    },
    items: [
      { text: 'Select', value: '' },
      { text: "Violence against the person", value: "Violence against the person" },
      { text: "Sexual offences", value: "Sexual offences" },
      { text: "Robbery", value: "Robbery" },
      { text: "Theft Offences", value: "Theft Offences" },
      { text: "Criminal damage and arson", value: "Criminal damage and arson" },
      { text: "Drug offences", value: "Drug offences" },
      { text: "Possession of weapons", value: "Possession of weapons" },
      { text: "Public order offences", value: "Public order offences" },
      { text: "Miscellaneous crimes against society", value: "Miscellaneous crimes against society" },
      { text: "Fraud Offences", value: "Fraud Offences" },
      { text: "Summary Non-Motoring", value: "Summary Non-Motoring" },
      { text: "Summary motoring", value: "Summary motoring" },
      { text: "Offence not recorded", value: "Offence not recorded" }     
    ],
    value: offence.value,
    errorMessage: offence.error,
    disabled: not isOrderEditable
  }) }}
 
  {{ govukCheckboxes({
    idPrefix: "riskCategory",
    name: "riskCategory[]",
    fieldset: {
      legend: {
        text: "Select the risks that apply to the device wearer",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "Select one or more from the list."
    },
    items: [
      {
        text: 'Threats of Violence',
        value: 'VIOLENCE',
        disabled: not isOrderEditable
      },
      {
        text: 'Sexual Offences',
        value: 'SEXUAL_OFFENCES',
        disabled: not isOrderEditable
      },
      {
        text: 'Risk to Specific Gender',
        value: 'GENDER',
        disabled: not isOrderEditable
      },
      {
        text: 'Racial Abuse or Threats',
        value: 'RACIAL',
        disabled: not isOrderEditable
      },
      {
        text: 'History of Substance Abuse',
        value: 'SUBSTANCE_ABUSE',
        disabled: not isOrderEditable
      },
      {
        text: 'Diversity Concerns (mental health issues, learning difficulties etc.)',
        value: 'DIVERSITY',
        disabled: not isOrderEditable
      },
      {
        text: 'Dangerous Dogs/Pets at Premises',
        value: 'ANIMALS',
        disabled: not isOrderEditable
      },
      {
        text: 'Is the Subject managed through IOM?',
        value: 'IOM',
        disabled: not isOrderEditable
      },
      {
        text: 'Safeguarding Issues',
        value: 'SAFEGUARDING',
        disabled: not isOrderEditable
      },
      {
        text: 'Other occupants who pose a risk to staff',
        value: 'OTHER_OCCUPANTS',
        disabled: not isOrderEditable
      },
      {
        text: 'Other known Risks',
        value: 'OTHER_RISKS',
        disabled: not isOrderEditable
      },
      {
        text: 'Is there evidence known to the subject having homophobic views?',
        value: 'HOMOPHOBIC',
        disabled: not isOrderEditable
      },
      {
        text: 'Offence Risk',
        value: 'OFFENCE_RISK',
        disabled: not isOrderEditable
      },
      {
        text: 'Postcode Risk',
        value: 'POSTCODE_RISK',
        disabled: not isOrderEditable
      },
      {
        text: 'Under 18 living at property',
        value: 'UNDER_18',
        disabled: not isOrderEditable
      }
    ],
    errorMessage: riskCategory.error,
    values: riskCategory.values
  }) }}

  {{ govukTextarea({
    name: "riskDetails",
    id: "riskDetails",
    value: riskDetails.value,
    errorMessage: riskDetails.error,
    disabled: not isOrderEditable,
    label: {
      text: "Provide details that will help lower risk of violence or threatening behaviour at installation.",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Include details about the device wearer's behaviour and if there are risks at the installation property we should know of."
    }
  }) }}

  {% call govukFieldset({
    legend: {
      text: "Multi-Agency Public Protection Arrangements (MAPPA)",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    <p class="govuk-body">If you are a Home Office employee, answer the below questions:</p>

    {{ govukRadios({
      name: "mappaLevel",
      fieldset: {
        legend: {
          text: "Which level of MAPPA applies? (optional)",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          text: "MAPPA 1",
          value: "MAPPA1",
          disabled: not isOrderEditable
        },
        {
          text: "MAPPA 2",
          value: "MAPPA2",
          disabled: not isOrderEditable
        },
        {
          text: "MAPPA 3",
          value: "MAPPA3",
          disabled: not isOrderEditable
        }
      ],
      value: mappaLevel.value,
      errorMessage: mappaLevel.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukRadios({
      name: "mappaCaseType",
      fieldset: {
        legend: {
          text: "What is the MAPPA case type? (optional)",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          text: "Serious Organised Crime",
          value: "SOC",
          disabled: not isOrderEditable
        },
        {
          text: "Terrorism Act, Counter Terrorism",
          value: "TERRORISM_ACT",
          disabled: not isOrderEditable
        },
        {
          text: "Terrorism Prevention and Investigation measures",
          value: "TERRORISM_PREVENTION",
          disabled: not isOrderEditable
        },
        {
          text: "Special Immigration Appeals Commission",
          value: "SPECIAL_IMMIGRATION_APPEALS",
          disabled: not isOrderEditable
        },
        {
          text: "High Profile Immigration",
          value: "HIGH_PROFILE_IMMIGRATION",
          disabled: not isOrderEditable
        },
        {
          text: "Critical Public Protection Case",
          value: "CPP_CASE",
          disabled: not isOrderEditable
        }
      ],
      value: mappaCaseType.value,
      errorMessage: mappaCaseType.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

{% endblock %}
