{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}

<div class="homepage-content">
  {{ mojPageHeaderActions({
  heading: {
    text: 'Electronic Monitoring Application Forms'
  } }) }}

<form action="/order/create" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <div class="govuk-button-group">
      {{ govukButton({
          text: "Create new form"
      }) }}
  </div>
</form>

</div>
{# {{ mojSearch({
    action: '#',
    method: 'get',
    input: {
      id: 'keyword',
      name: 'keyword'
    },
    label: {
      text: 'Find an order',
      classes: 'govuk-!-font-weight-bold'
    },
    hint: {
      text: 'You can search by subject name'
    },
    button: {
      text: 'Search'
    }
  }) }}
 
 {% if previous != 0 %}
  {% set previousButton = { text: 'Previous', href:'' } %}
{% endif %} #}

{% if next != 0 %}
  {% set nextButton = { text: 'Next', href: ''} %}
{% endif %}

{% set pagination %}
  {{ mojPagination({
  items: [{
    text: '1',
    href: '/page=1',
    selected: true
  }, {
    text: '2',
    href: '/page=2'
    
  }, {
    text: '3',
    href: '/page=3'
  }, {
    type: 'dots'
  }, {
    text: '5',
    href: '/page=5'
  }],
  results: {
    count: 30,
    from: 10,
    to: 20,
    text: 'pages'
  },
  previous: {
    text: 'Previous',
    href: ''
  },
  next: {
    text: 'Next',
    href: ''
  }
}) }}
{% endset %}

<h2>Existing Forms</h2>

<div id="ordersList">
  <ul class="govuk-task-list">
    {% if orderList.length == 0 %}
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        No existing forms found.
      </li>
    {% endif %}

    {% for order in orderList %}
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/order/{{order.id}}/summary" aria-describedby="company-details-1-status">
            {{ order.id }}
          </a>
        </div>
        {% if order.status == 'SUBMITTED' %}
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--green">
              Submitted
            </strong>
          </div>
        {% else %}               
          <div class="govuk-task-list__status" >
            <strong class="govuk-tag govuk-tag--grey">
              Draft
            </strong>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  
  </div>


  {# {{ pagination | safe }} #}
{% endblock %}
