{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Create Form" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}
{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
 {{ mojPageHeaderActions({
  heading: {
    text: 'New Form'
  }  
}) }}

<form action="/newForm" method="post" >
<input type="hidden" name="_csrf" value="{{ csrfToken }}">
{{ govukRadios({
  name: "formType",
  fieldset: {
    legend: {
      text: "Select from:",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "ANNEXD",
      text: "Annex D - Notification of Release Template"
    },
    {
      value: "CEMOD",
      text: "Create EM Order form descriptions"
    },
    {
      value: "EMLICENCECONDITION",
      text: "EM Licence Conditions Notification Form"
    },
    {
      value: "EMLICENCEVARIATION",
      text: "EM Licence Variation Notification Form"
    },
    {
      value: "HDC",
      text: "HDC Agency Notification Form"
    },
    {
      value: "HMCTSEMS",
      text: "Master HMCTS EMS Form April"
    },
    {
      value: "PSCS",
      text: "PSCS Address Variation Form"
    }
  ]
}) }}

 {{govukButton({
        text: 'Next',
        type: 'submit'
      })}}
</form>


{% endblock %}
